.index-page {
  padding: 75px 0 40px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.index-page__top {
  display: inline-flex;
  max-width: 1280px;
  width: 90%;
  justify-content: space-between;
}

@media screen and (max-width: 1090px) {
  .index-page__top {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 80%;
  }
}

.index-page__bar-chart {
  width: 770px;
  padding: 0 40px;
}
