/* Time slider bar */
.map-slider {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: relative;
    width: 50%;
    min-width: 150px;
    max-width: 500px;
    bottom: 120px;
    padding: 10px;
    float: right;
    z-index: 3;
}
.map-slider .map-overlay-inner {
    /* background-color: rgba(77, 0, 102, 0.7); */
    background-color: black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    visibility: visible;
}
.map-slider input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}
.map-slider span {
    font-size: 24px;
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
    color: white;
}
