.GWASUI-selectionUI {
  border: 1px solid #e2e2e3;
}

.GWASApp .select-container {
  padding: 20px;
  background: #fff;
  height: 519px;
}

.GWASApp .select-container .ant-table-content {
  max-height: 390px;
  overflow-y: auto;
}

.GWASApp .select-container .GWASUI-emptyTable {
  border: 2px solid #e9eef2;
  min-height: 450px;
}

.GWASApp .select-container .GWASUI-flexRow {
  width: 100%;
}
