.guppy-data-explorer {
  display: flex;
  flex-wrap: wrap;
}

.guppy-data-explorer__error {
  text-align: center;
}

.guppy-data-explorer__visualization {
  padding: 0 20px;
}

.guppy-data-explorer__top-banner {
  width: 100%;
  margin-bottom: 10px;
}

.guppy-data-explorer__filter-set,
.guppy-data-explorer__filter {
  border-bottom: 1px solid var(--g3-color__silver);
  padding: 1rem 1rem 2rem;
}

/* Medium screen and less */
@media screen and (max-width: 1090px) {
  .guppy-data-explorer__filter {
    display: none;
  }

  .guppy-data-explorer__visualization {
    padding: 0;
  }

  .guppy-data-explorer__filter-set {
    display: none;
  }
}
