.explorer {
  display: flex;
  flex-wrap: wrap;
}

.explorer__error {
  text-align: center;
}

.explorer__visualization {
  padding: 1rem;
}

.explorer__top-banner {
  width: 100%;
  margin-bottom: 10px;
}

.explorer__filter-set {
  border-bottom: 1px solid var(--g3-color__silver);
  padding: 1rem 1rem 2rem;
}

.explorer__filter {
  padding: 1rem 1rem 2rem;
}

.explorer__data-release-version {
  padding: 3rem 1rem 2rem;
  text-align: center;
}

.explorer__data-release-version > span {
  font-style: italic;
}

/* Medium screen and less */
@media screen and (max-width: 1090px) {
  .explorer__sidebar {
    overflow: inherit;
  }

  .explorer__filter,
  .explorer__filter-set,
  .explorer__data-release-version {
    display: none;
  }
}
