.guppy-data-explorer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 20px 20px;
}

.guppy-data-explorer__error {
  text-align: center;
}

.guppy-data-explorer__filter {
  width: 20%;
  margin-top: 20px;
}

.guppy-data-explorer__visualization {
  width: 80%;
  margin-top: 20px;
  padding: 0 0 20px 20px;
}

.guppy-data-explorer__top-banner {
  width: 100%;
  margin-bottom: 10px;
}

.guppy-data-explorer__filter-set {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

/* Tablet width and less */
@media screen and (max-width: 820px) {
  .guppy-data-explorer {
    padding: 0;
  }

  .guppy-data-explorer__filter {
    display: none;
  }

  .guppy-data-explorer__visualization {
    width: 100%;
    padding: 0;
  }

  .guppy-data-explorer__filter-set {
    display: none;
  }
}
