{
  "presets":    [
    [
      "@babel/preset-env",
      {
        "targets": "> 2%, not dead",
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
],
  "plugins": [
    "dev-expression",
    "@babel/plugin-transform-runtime",
    [ "@babel/plugin-proposal-class-properties", { "loose" : true }],
    "@babel/plugin-syntax-class-properties",
    "@babel/plugin-transform-flow-strip-types"
  ]
}
