.explorer-select {
  border-bottom: 1px solid var(--g3-color__silver);
  padding: 1rem 1rem 2rem;
}

.explorer-select__title {
  color: var(--g3-color__black);
  display: flex;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.explorer-select__title > h1 {
  font-size: 1.5rem;
  line-height: initial;
  margin-left: 0.5rem;
}
