.guppy-explorer-filter-set__name {
  font-size: 1.5rem;
  line-height: 1.25;
}

.guppy-explorer-filter-set__menu {
  min-width: 180px;
  margin-left: 2rem;
  text-align: center;
  z-index: 20;
}

.guppy-explorer-filter-set__button {
  margin-right: 10px;
}

.guppy-explorer-filter-set__placeholder {
  font-style: italic;
}

.guppy-explorer-filter-set__form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 120px;
}

.guppy-explorer-filter-set__error {
  width: 100%;
}

.guppy-explorer-filter-set__error > p {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1170px) {
  .guppy-explorer-filter-set__buttons {
    flex-wrap: wrap;
    width: 360px;
  }

  .guppy-explorer-filter-set__button {
    margin-bottom: 10px;
  }
}
