.explorer-filter-set {
  border-bottom: 1px solid var(--g3-color__silver);
  padding: 1rem 1rem 2rem;
}

.explorer-filter-set__title {
  margin-bottom: 1rem;
}

.explorer-filter-set__name {
  color: var(--g3-color__black);
  font-size: 1.1rem;
  font-weight: var(--g3-font__semi-bold-weight);
  line-height: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.explorer-filter-set__description {
  margin-bottom: 1rem;
}

.explorer-filter-set__button {
  margin-right: 10px;
}

.explorer-filter-set__placeholder {
  font-style: italic;
}

.explorer-filter-set__form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 120px;
}

.explorer-filter-set__error > h2 {
  line-height: initial;
  margin-bottom: 1rem;
}

.explorer-filter-set__error > p {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1170px) {
  .explorer-filter-set__buttons {
    flex-wrap: wrap;
    width: 360px;
  }

  .explorer-filter-set__button {
    margin-bottom: 10px;
  }
}
