.filter-set-query-display {
  margin: 1rem;
  min-height: 6.5rem;
}

.filter-set-query-display header {
  margin-bottom: 0.25rem;
}

.filter-set-query-display main {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  height: 5rem;
  overflow: scroll;
  padding: 4px;
}
