{
  "presets": ["stage-0", ["es2015", { "modules": false }], "react", "react-app"],
  "plugins": [
    "dev-expression",
    "transform-class-properties",
    ["react-relay",
      {"compat": true, "schema": "data/schema.graphql"}]
  ]
}
