{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "> 0.25%, not dead",
        "shippedProposals": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "dev-expression",
    ["relay", { "compat": true, "schema": "data/schema.json" }],
    "@babel/plugin-transform-runtime"
  ],
  "sourceType": "unambiguous"
}
