{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "dev-expression",
    "transform-class-properties",
    ["relay",
      {"compat": true, "schema": "data/schema.json"}],
    ["@babel/plugin-transform-runtime"]
  ]
}
