node_modules/*
src/bundle.js
src/gqlHelper.js
bundle.js
vendors*.js
workspaceBundle.js
covid19Bundle.js
nctBundle.js
ecosystemBundle.js
index.html
workspaces.html
custom/sponsors/
custom/*/gitops*
data/parameters.json
data/config/gitops.json
data/schema.graphql
data/schema.json
src/params.js
src/css/themeoverrides.css
src/img/sponsors/gitops-sponsors/
__generated__/
*.log
*.bak
.DS_Store
