env:
  - REACT_APP_DISABLE_SOCKET=true

language: node_js
git:
  depth: 1
node_js:
  - "16.15"

cache:
  npm: false # disable npm cache for npm ci

services:
    - docker

before_install:
    - npm install -g npm@8.15

install:
    - npm ci

script:
    - npm run relay
    - npm run params
    - npm test
    - bash ./testSchema.sh
    - npm run eslint
    - npm run stylelint
