env:
  - REACT_APP_DISABLE_SOCKET=true
  
language: node_js
git:
  depth: 1
node_js:
  - "10"

cache:
  directories:
    - node_modules # NPM packages

services:
    - docker

install:
    - npm install --force

script:
    - npm run relay
    - npm run params
    - npm test
    - bash ./testSchema.sh
    - npm run eslint
    - npm run stylelint
