.attrition-table-modal .ant-modal-content {
  width: 650px;
  min-height: 480px;
}

.attrition-table-modal .ant-modal-body {
  margin: 0 auto;
}

.attrition-table-modal h3 {
  color: #2e77b8;
  font-size: 14px;
}

.attrition-table-modal h4,
.attrition-table-modal .histrogram-loading,
.attrition-table-modal .euler-loading {
  text-align: center;
}

.attrition-table-modal .GWASUI-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.attrition-table-modal .GWASUI-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.attrition-table-modal .outlier-inputs .GWASUI-column:nth-child(odd) {
  min-width: 180px;
}

.attrition-table-modal .outlier-inputs .GWASUI-column:nth-child(even) {
  margin-left: -25px;
}
