.attrition-table-modal .ant-modal-content {
  width: 650px;
  min-height: 480px;
}

.attrition-table-modal .ant-modal-body {
  margin: 0 auto;
}

.attrition-table-modal h3 {
  color: #2e77b8;
  font-size: 14px;
}

.attrition-table-modal h4,
.attrition-table-modal .histrogram-loading,
.attrition-table-modal .euler-loading {
  text-align: center;
}
