.question__tooltip {
  display: inline-block;
  margin-left: 1em;
  position: relative;
}

.question__tooltip p {
  display: none;
}

.question__tooltip:hover p {
  display: block;
  position: absolute;
  left: 30px;
  background: antiquewhite;
  width: 300px;
  padding: 0.5em;
  margin: 0px;
  line-height: 1.5em;
  top: 0px;
}

.question__option-bullet input {
  margin-right: 1em;
}

.question__form-error {
  display: inline-block;
  margin-left: 2em;
  font-style: italic;
  font-size: 0.8em;
  color: red;
}