.GWASApp .dismissable-message {
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 15px;
}

.GWASApp .dismissable-message.success {
  border: 1px solid #a8c599;
  background: #fcfff5;
  color: #1e561f;
}

.GWASApp .dismissable-message-description {
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
}

.GWASApp .dismissable-message.warning {
  color: #830e0e;
  border: 1px solid #c59999;
  background: #fff5f5;
  position: relative;
}

.GWASApp .dismissable-message.warning > div:nth-child(2) {
  margin-left: 40px;
}

.GWASApp .dismissable-message.warning > div:nth-child(2):before {
  content: '!';
  font-weight: bold;
  border: 2px solid #830e0e;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  position: absolute;
  left: 10px;
  padding-left: 10px;
  line-height: 1.3;
}

.GWASApp .dismissable-message.caution {
  color: #996600;
  border: 1px solid #FFE58F;
  background: #FFFBE6;
  position: relative;
}

.GWASApp .dismissable-message.caution > div:nth-child(2) {
  margin-left: 40px;
}
.GWASApp .dismissable-message.caution > div:nth-child(2):before {
  content: '⚠';
  font-weight: bold;
  height: 30px;
  width: 30px;
  margin-top: 3px;
  position: absolute;
  left: 10px;
  padding-left: 10px;
  line-height: 1.3;
}



.GWASApp .dismissable-message_close {
  cursor: pointer;
  float: right;
  margin-left: 25px;
}
.GWASApp .dismissable-message_close:hover {
  opacity: 0.8;
}
