.core-metadata-page {
  padding: 20px 20px;
  box-sizing: content-box;
  overflow: auto;
  height: auto;
}

.core-metadata-page__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
}

.core-metadata-page__picture {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  padding: 20px 25px 15px 0;
}

.core-metadata-page__header {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  padding: 20px 0 15px 25px;
}

.core-metadata-page__table {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  padding: 15px 0 20px 0;
}

.core-metadata-page__column--right--signed-url-button {
  margin-left: 20px;
}
