.dismissable-message.success {
  border: 1px solid #a8c599;
  background: #fcfff5;
  color: #1e561f;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 20px;
}
.dismissable-message_close {
  cursor: pointer;
  float: right;
}
.dismissable-message_close:hover {
  opacity: 0.8;
}

.GWASV2 .dismissable-message > div:nth-child(3) {
  font-size: 14px;
  font-weight: normal;
  margin-top: 40px;
}
