.explorer-filter-set-workspace {
  background-color: var(--g3-color__white);
  padding: 1rem;
  margin-top: 10px;
  resize: vertical;
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

/* Medium screen and less */
@media screen and (max-width: 1090px) {
  .explorer-filter-set-workspace {
    display: none;
  }
}
.explorer-filter-set-workspace > header {
  display: flex;
}

.explorer-filter-set-workspace > header > h2 {
  font-size: 14px;
  line-height: 1.5rem;
  margin-right: 0.5rem;
  white-space: nowrap;
}

.explorer-filter-set-workspace
  .explorer-filter-set-workspace__action-button-group::before {
  border-right: 1px solid var(--g3-color__lightgray);
  content: '';
  margin: 0 0.5rem;
}

.explorer-filter-set-workspace > main {
  margin-top: 1rem;
}

.explorer-filter-set-workspace button {
  background-color: inherit;
  border: none;
  height: initial;
  width: initial;
}

.explorer-filter-set-workspace button:disabled {
  cursor: not-allowed;
}

.explorer-filter-set-workspace button:not(:disabled) {
  color: var(--g3-color__gray);
}

.explorer-filter-set-workspace
  button.explorer-filter-set-workspace__action-button {
  margin-right: 0.25rem;
  padding: 0.25rem;
}

.explorer-filter-set-workspace
  button.explorer-filter-set-workspace__action-button:hover:not(:disabled) {
  background-color: var(--g3-color__silver);
}

.explorer-filter-set-workspace
  .explorer-filter-set-workspace__error
  button.explorer-filter-set-workspace__action-button {
  margin-left: 0.5rem;
  color: black;
  background-color: var(--pcdc-color__secondary);
}

.explorer-filter-set-workspace
  .explorer-filter-set-workspace__error
  button.explorer-filter-set-workspace__action-button:hover {
  background-color: var(--pcdc-color__secondary-light);
}

.explorer-filter-set-workspace__query {
  display: flex;
  padding: 0.25rem;
  background-color: var(--g3-color__bg-cloud);
}

.explorer-filter-set-workspace__query > header {
  display: flex;
  align-items: center;
}

.explorer-filter-set-workspace__query > header::after {
  border: 0.5px solid var(--g3-color__lightgray);
  content: '';
  margin: 0 0.5rem;
  height: 1rem;
}

.explorer-filter-set-workspace__query > header > button {
  width: 3rem;
  text-align: center;
}

.explorer-filter-set-workspace__query > header > h3 {
  font-size: 0.8rem;
  line-height: 1rem;
  padding: 0.25rem;
  color: inherit;
  max-width: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.explorer-filter-set-workspace__query--active {
  background-color: transparent;
  border: 1px solid var(--g3-color__lime);
  border-left-width: 0.25rem;
  padding-left: 0;
}

.explorer-filter-set-workspace__query--active
  button.explorer-filter-set-workspace__action-button {
  color: var(--g3-color__lime);
  cursor: initial;
}

.explorer-filter-set-workspace__query > h4 {
  display: inline-block;
  margin-right: 0.25rem;
}
