.plot-chart__title {
  text-align: center;
  font-weight: bold;
}

.plot-chart__y-title {
  text-anchor: middle;
}

.plot-chart .popup__mask {
  padding-top: 10vh;
}

.plot-chart .popup__box {
  width: 80%;
  height: 80vh;
}

.plot-chart .popup__message {
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plot-chart__tooltip {
  padding: 10px 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
