.guppy-explorer-cohort__name {
  line-height: 1.25;
}

.guppy-explorer-cohort__button {
  margin-right: 10px;
}

.guppy-explorer-cohort__placeholder {
  font-style: italic;
}

.guppy-explorer-cohort__overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(245, 245, 245, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.guppy-explorer-cohort__form {
  background-color: var(--g3-color__white);
  border: 1px solid var(--g3-color__silver);
  border-top: 4px solid var(--pcdc-color__primary);
  border-radius: 4px;
  min-height: 200px;
  width: 100%;
  max-width: 480px;
  padding: 2rem 1rem;
  margin: 0 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
