.transaction-log-table__status-bar {
  font-size: 14px;
  text-align: left;
}

.form-special-number.transaction-log-table__status-bar--fail {
  color: #E74C3C;
}

.form-special-number.transaction-log-table__status-bar--pending {
  color: #4A4A4A;
}
