.any-of-input__required-notification {
  color: #ff4d4f;
  margin: 5px 0 0 0;
  display: inline;
}

.any-of-input__sub-props {
  margin-left: 50px;
}

.any-of-input__name {
  display: inline;
  color: black;
}
