@import '~@gen3/ui-component/dist/css/base.less';

.map-data-model {
  margin-top: 40px;
}

.map-data-model .h1-typo {
  margin: 40px 0 20px 0;
}


.map-data-model__form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  border: 1px solid @gray;
}

.map-data-model__header {
  background-color: @blue;
  color: @white;
}
