.map-data-model {
  margin-top: 40px;
}

.map-data-model .h1-typo {
  margin: 40px 0 20px 0;
}


.map-data-model__form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  border: 1px solid var(--g3-color__gray);
  margin-bottom: 40px;
  background-color: var(--g3-color__white);
}

.map-data-model__header {
  background-color: var(--g3-color__base-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 25px;
  border-bottom: 1px solid var(--g3-color__gray);
}

.map-data-model__header .h3-typo {
  color: var(--g3-color__white);
}

.map-data-model__details {
  padding: 20px 25px;
  width: 100%;
}

.map-data-model__form-section {
  border-bottom: 1px solid var(--g3-color__silver);
  display: flex;
  flex-flow: column;
  padding: 40px 25px;
}

.map-data-model__node-form-section {
  display: flex;
}

.map-data-model__required-fields-section {
  display: flex;
  flex-flow: column;
  padding: 40px 25px;
  width: 100%;
}

.map-data-model__required-field {
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid var(--g3-color__silver);
  padding: 20px 0;
}

.map-data-model__required-field .h4-typo {
  margin-left: 10px;
  display: inline;
}

.map-data-model__dropdown--required {
  background-color: var(--g3-color__bg-cloud);
}

.map-data-model__dropdown {
  width: 400px;
  display: flex;
}

.map-data-model__input {
  width: 260px;
  display: flex;
  align-items: center;
  height: 36px;
  border: 1px solid var(--g3-color__base-blue);
  background-color: var(--g3-color__bg-cloud);
  padding: 15px 10px;
  display: inline-block;
}

.red-border .Select-control {
  border: 1px solid red;
}

.invalid-text.body-typo {
  color: red;
}

.map-data-model__file-row-cell .Select-control,
.map-data-model__file-row-cell .Select-menu-outer {
  width: 260px;
}

/* Select component overrides */
.map-data-model__form-section {

  .Select-control {
    border: 1px solid var(--g3-color__base-blue);
    border-radius: 0;
  }

  .Select.has-value > .Select-control {
    border: 1px solid var(--g3-color__black);
  }

  .Select-placeholder {
    color: var(--g3-color__base-blue);
  }

  .Select-arrow {
    border-color: var(--g3-color__base-blue) transparent transparent;
  }

  .Select-menu-outer {
    border: 1px solid var(--g3-color__black);
    border-radius: 0;
  }

  .Select-option {
    color: var(--g3-color__base-blue);
    border-radius: 0;
  }

  .Select-option.is-focused {
    color: var(--g3-color__white);
    background-color: var(--g3-color__gray);
  }

  .Select.is-open > .Select-control {
    border-color: var(--g3-color__black);
  }

  .Select.is-open > .Select-control .Select-arrow {
    border-color: transparent transparent var(--g3-color__base-blue);
  }

  .Select--multi .Select-value {
    background-color: var(--g3-color__base-blue);
    color: var(--g3-color__white);
  }

  .Select--multi .Select-value-icon {
    border-right: 1px solid var(--g3-color__white);
  }
}

.map-data-model__dropdown--required {
  .Select-control {
    background-color: var(--g3-color__bg-cloud);
  }
}
