.map-files {
  padding: 20px 20px;
}

.map-files__notification-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-files__notification {
  position: fixed;
  top: 50px;
  margin: auto;
  z-index: 100;
  min-height: 86px;
  max-width: 90%;
  padding: 15px 15px;
  background-color: var(--g3-color__highlight-orange);
  display: flex;
  flex-flow: column;
  align-items: center;
  word-wrap: break-word;
  overflow: hidden;
}

.map-files__notification-text {
  color: var(--g3-color__white);
  text-align: center;
}

.map-files__notification-icon {
  align-self: flex-end;
  margin-bottom: 10px;
  width: 15px;
  cursor: pointer;
}

.map-files .h1-typo {
  margin: 40px 0 20px 0;
}

.map-files__empty-text {
  text-align: center;
}

.map-files__tables {
  margin-top: 40px;
}

.map-files__tables--scrolling {
  margin-top: 140px;
}

.map-files__table {
  table-layout: fixed;
  width: 100%;
  text-align: left;
  -webkit-border-horizontal-spacing: unset;
  margin: 10px 0 40px 0;
  border-collapse: collapse;
  outline: none;
}

.map-files__table-header {
  border-top: 2px solid var(--g3-color__black);
  border-bottom: 1px solid var(--g3-color__silver);
  height: 70px;
}

.map-files__table-row {
  background-color: var(--g3-color__white);
  border-bottom: 1px solid var(--g3-color__silver);
  height: 70px;
}

.map-files__table-row > * {
  word-break: break-all;
  padding: 10px 20px 10px 0;
}

.map-files__table-checkbox {
  width: 100px;
  padding: 0 25px;
}

.map-files__status--ready {
  color: var(--g3-color__base-blue);
}

.map-files__status--ready .h2-typo {
  display: inline-block;
  margin-left: 10px;
}

.map-files__status--generating {
  color: var(--g3-color__gray);
}

/* Overrides for React Virtualized Table */
.ReactVirtualized__Table__Grid {
  outline: 0;
}

.ReactVirtualized__Table__headerColumn {
  text-transform: none;
}
