@import '~@gen3/ui-component/dist/css/base.less';

.map-files {
}

.map-files .h1-typo {
  margin: 40px 0 20px 0;
}

.map-files__tables {
  margin-top: 160px;
}

.map-files__table {
  width: 100%;
  text-align: left;
  -webkit-border-horizontal-spacing: unset;
  margin: 10px 0 40px 0;
  border-collapse: collapse;
}

.map-files__table-header {
  border-top: 2px solid @black;
  border-bottom: 1px solid @silver;
  height: 70px;
}

.map-files__table-row {
  background-color: @white;
  border-bottom: 1px solid @silver;
  height: 70px;
}

.map-files__table-checkbox {
  padding: 0 25px;
}

.map-files__status--ready {
  color: @blue;
}

.map-files__status--generating {
  color: @black;
}
