.submit-tsv {
  margin-bottom: 1em;
  display: block;
}

.submit-tsv__upload-button {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  line-height: 40px;
  height: 40px;
  width: 152px;
  font-size: 14px;
}

.submit-tsv__upload-button:hover {
  cursor: pointer;
}

.submit-tsv__file-upload {
  display: none;
}

.submit-tsv__ace-editor {
  margin-bottom: 1em;
}
