.submission-result {
  border-top: 1px dashed #8F8F8F;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
}

.submission-result__status {
  color: white;
  margin-bottom: 1em;
}

.submission-result__status--succeeded {
  background-color: #168616;
}

.submission-result__status--failed {
  background-color: gray;
}

.submission-result__summary {
  max-height: 250px;
  overflow: auto;
}

.submission-result__list {
  list-style: disc;
  padding: 0 0 25px 25px;
}