.text-input__input {
  width: 400px;
  height: 40px;
  padding: 0 10px;
}

.text-input__label {
  margin: 3px;
  display: inline-block;
}

.text-input__required-notification {
  color: #d45252;
  margin: 5px 0 0 0;
  display: inline;
}

.text-input__input-description {
  font-size: 1rem;
  display: inline-block;
  width: 750px;
}