.submit-form__input {
  width: 400px;
  height: 40px;
  padding: 0px 10px;
}

.submit-form__label {
  margin: 3px;
  display: inline-block;
}

.submit-form__required-notification {
  color: #d45252;
  margin: 5px 0 0 0;
  display: inline;
}

.submit-form__input-description {
  font-size: 1rem;
  display: inline-block;
  width: 750px;
}