.commons-login {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: var(--g3-color__white);
  border: 1px solid var(--g3-color__silver);
  border-radius: 4px;
}

.commons-login__info {
  display: flex;
  flex-flow: column;
  padding: 25px 20px;
  border-bottom: 1px solid var(--g3-color__silver);
}

.commons-login__title {
  font-weight: 600;
  text-align: center;
  margin: 0
}

.commons-login__logo {
  height: 50px;
  margin: 20px auto 0 auto;
}

.commons-login__button {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 25px 20px;
}

.commons-login__message {
  margin: 0;
}
