/* GWAS App */

.GWASUI-navBtn:not([disabled]) {
  background: #194C90;
  border-color: #194C90;
}

.gwas-modal .ant-btn-primary:not([disabled]) {
  background: #194C90;
  border-color: #194C90;
}

.gwas-modal .ant-btn-default {
  color: #194C90;
  border-color: #194C90;
}

.euler-diagram-controls .ant-btn-primary:not([disabled]) {
  background: #194C90;
  border-color: #194C90;
}

.euler-diagram-controls  .ant-btn-secondary {
  color: #194C90;
  border-color: #194C90;
}

.GWASUI-navBtn:not([disabled]):hover,
.GWASUI-navBtn:not([disabled]):focus {
  background: #2466AC;
  border-color: #2466AC;
}

.gwas-modal .ant-btn-primary:not([disabled]):hover,
.gwas-modal .ant-btn-primary:not([disabled]):focus {
  background: #2466AC;
  border-color: #2466AC;
}

.gwas-modal .ant-btn-default:hover,
.gwas-modal .ant-btn-default:focus {
  color: #2466AC;
  border-color: #2466AC;
}

.euler-diagram-controls  .ant-btn-primary:not([disabled]):hover,
.euler-diagram-controls  .ant-btn-primary:not([disabled]):focus {
  background: #2466AC;
  border-color: #2466AC;
}

.euler-diagram-controls  .ant-btn-secondary:hover,
.euler-diagram-controls  .ant-btn-secondary:focus {
  color: #2466AC;
  border-color: #2466AC;
}
