.data-explorer {
  display: flex;
  margin: 30px 30px;
  max-height: 750px;
  overflow: hidden;
}

.data-explorer__filters {
  width: 20%;
  max-height: 750px;
  overflow: scroll;
}

.data-explorer__results {
  display: flex;
  flex-flow: column;
  padding-left: 20px;
  width: 80%;
}
