@import '../css/base.less';

.data-explorer {
  display: flex;
  margin: 17px 30px;
}

.data-explorer__filters {
  width: 20%;
}

.data-explorer__filters-title {
  margin: 10px 0;
}

.data-explorer__visualizations {
  display: flex;
  flex-flow: column;
  padding-left: 20px;
  width: 80%;
}

.data-explorer__visualizations-title {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  margin: 10px 0;
}

.data-explorer__visualizations-title h4 {
  margin: 0;
}

.data-explorer__visualizations-title-icon {
  margin-left: 5px;
  color: @light_gray;
}

.data-explorer__charts {
  display: flex;
  flex-flow: column;
}

.data-explorer__charts > div {
  margin-bottom: 7px;
}

.data-explorer__charts > div:last-child {
  margin-bottom: 34px;
}

/* Overrides Arranger styles */
.sqon-view {
  background-color: @cloud;
  border: 0;
  padding: 0;
  margin-top: 0;
}

.sqon-group:first-child {
  margin-top: 0;
}

.sqon-clear {
  border: 1px solid @light_gray;
  color: @white;
  background-color: @blue;
  text-transform: none;
  font-family: @body-font;
}

.sqon-more,
.sqon-less {
  border: 1px solid @light_gray;
  color: @blue;
  text-transform: none;
  font-family: @body-font;
}

.sqon-field,
.sqon-op {
  font-size: 12px;
  color: @gray;
  text-transform: none;
}

.sqon-value-group {
  color: @blue;
}

.sqon-value {
  background-color: @orange;
  border: 1px solid @light_gray;
}
