@import '../css/base.less';

.data-explorer {
  display: flex;
  margin: 30px 30px;
}

.data-explorer__filters {
  width: 20%;
}

.data-explorer__results {
  display: flex;
  flex-flow: column;
  padding-left: 20px;
  width: 80%;
}

.data-explorer__results-title {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.data-explorer__results-title .fa {
  margin-left: 5px;
  color: @light_gray;
}

.data-explorer__visualizations {
  display: flex;
  flex-flow: column;
}

.data-explorer__visualizations > div {
  margin-bottom: 7px;
}

.data-explorer__visualizations > div:last-child {
  margin-bottom: 34px;
}

.data-explorer__results .sqon-view {
  margin: 10px 0 7px 0;
}
