.query-form__search-button {
  transition: 0.25s;
  color: white;
  margin-bottom: 1em;
  background-color: #008000;
  border: 1px solid #008000;
  line-height: 34px;
  padding: 0 0.5em;
}

.query-form__search-button:hover,
.query-form__search-button:active,
.query-form__search-button:focus {
  background-color: #159915;
  border: 1px solid #159915;
}

.query-form__select {
  width: 40%;
  float: left;
  margin-right: 1em;
}

.query-form__input {
  transition: 0.25s;
  border: 1px solid #c1c1c1;
  line-height: 34px;
  margin-right: 1em;
  padding: 0 0.5em;
  border-radius: 5px;
}
