.query-node__search-button {
  transition: 0.25s;
  color: white;
  margin-bottom: 1em;
  background-color: #008000;
  border: 1px solid #008000;
  line-height: 34px;
  padding: 0em 0.5em;
}

.query-node__search-button:hover,
.query-node__search-button:active,
.query-node__search-button:focus {
  background-color: #159915;
  border: 1px solid #159915;
}

.query-node__button {
  cursor: pointer;
  float: right;
  display: inline-block;
  margin-left: 2em;
}

.query-node__button:hover,
.query-node__button:active,
.query-node__button:focus {
  color: inherit;
}

.query-node__button--delete {
  color: #800000;
}

.query-node__button--view {
  color: #2B547E;
}

.query-node__input {
  transition: 0.25s;
  border: 1px solid #c1c1c1;
  line-height: 34px;
  margin-right: 1em;
  padding: 0em 0.5em;
  border-radius: 5px;
}

.query-node__select {
  width: 40%;
  float: left;
  margin-right: 1em;
}
