.percentage-bar-chart {
  width: 1010px;
  height: 155px;
  display: flex;
  background-color: white;
}

.percentage-bar-chart__legend {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  width: 430px;
  padding-top: 22px;
  padding-left: 25px;
  padding-right: 25px;
}
  
.percentage-bar-chart__legend-color {
  display: inline-block;
  height: 10px;
  width: 10px;
}

.percentage-bar-chart__legend-name {
  margin-left: 6px;
}

.percentage-bar-chart__legend-value {
  margin-left: 6px;
}
