.summary-pie-chart {
  width: 100%;
  padding: 12px;
  background-color: white;

  &__title {
    text-align: center;
    border-bottom: solid black 1px;
    line-height: 10px;
    height: 22px;
  }

  &__body {
    display: flex;
    flex-direction: row;
  }

  &__legend {
    width: 70px;
    flex-grow: 0;
    padding-top: 8px;
    &-item {
      text-align: right;
      margin-bottom: 22px;
      &-value {
        margin-top: 8px;
      }
    }
  }
}