.data-dictionary-property-table__table {
  background-color: var(--g3-color__white);
  border-collapse: collapse;
  border: 1px solid var(--dictionary-border-color);
}

.data-dictionary-property-table__data {
  padding: 10px;
  border: 1px solid var(--dictionary-border-color);
}

.data-dictionary-property-table__head {
  background-color: var(--dictionary-header-color);
  color: var(--g3-color__white);
}

.data-dictionary-property-table__required {
  color: var(--g3-color__highlight-orange);
}

.data-dictionary-property-table__required-icon {
  background-color: var(--g3-color__highlight-orange);
}
