.data-dictionary-property-table__table {
  background-color: var(--g3-color__white);
  border-collapse: collapse;
  width: 100%;
}

.data-dictionary-property-table__data {
  padding: 10px;
  border: 1px solid var(--dictionary-border-color);
  text-align: left;
  vertical-align: top;
}

.data-dictionary-property-table--without-border tr:first-child th.data-dictionary-property-table__data {
  border-top: 0;
}
.data-dictionary-property-table--without-border tr:last-child td.data-dictionary-property-table__data {
  border-bottom: 0;
}
.data-dictionary-property-table--without-border tr td.data-dictionary-property-table__data:first-child,
.data-dictionary-property-table--without-border tr th.data-dictionary-property-table__data:first-child {
  border-left: 0;
}
.data-dictionary-property-table--without-border tr td.data-dictionary-property-table__data:last-child,
.data-dictionary-property-table--without-border tr th.data-dictionary-property-table__data:last-child {
  border-right: 0;
}

.data-dictionary-property-table__head {
  background-color: var(--dictionary-header-color);
  color: var(--g3-color__white);
}

.data-dictionary-property-table__required {
  color: var(--g3-color__highlight-orange);
}

.data-dictionary-property-table__required-icon {
  background-color: var(--g3-color__highlight-orange);
}

.data-dictionary-property-table__span {
  display: inline;
}

.data-dictionary-property-table__span--highlight {
  color: var(--g3-color__highlight-orange);
  font-weight: 600;
}

.data-dictionary-property-table__span--new-line {
  display: block;
}
