.explorer-filter-info {
  background-color: var(--g3-color__white);
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}

.explorer-filter-info__collapsed {
  max-height: 5.5rem;
  overflow-y: scroll;
}

.explorer-filter-info > button {
  background-color: inherit;
  border: none;
  height: 1rem;
  width: 1rem;
  margin-right: 0.25rem;
}

.explorer-filter-info > button:disabled {
  cursor: not-allowed;
}

.explorer-filter-info > button > i {
  background-color: var(--g3-color__bg-coal);
}

.explorer-filter-info__collapse {
  max-height: 90px;
  overflow-x: scroll;
}

.explorer-filter-info > h4 {
  display: inline-block;
  margin-right: 0.25rem;
}

.explorer-filter-info .pill {
  background-color: var(--g3-color__bg-cloud);
  border: 1px solid var(--g3-color__lightgray);
  border-radius: 4px;
  padding: 4px;
  margin: 2px;
  line-height: 2rem;
}

.explorer-filter-info .pill.anchor {
  padding: 8px 4px;
  line-height: 2.2rem;
}

.explorer-filter-info .pill > * {
  border-right: 1px solid var(--g3-color__lightgray);
  padding: 2px 4px;
  margin: 0 2px;
}

.explorer-filter-info .pill > *:last-child {
  border-right: none;
}

.explorer-filter-info .pill code {
  background-color: inherit;
}
