.explorer-filter-display {
  background-color: var(--g3-color__white);
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}

.explorer-filter-display__collapsed {
  max-height: 5.5rem;
  overflow-y: scroll;
}

.explorer-filter-display > button {
  background-color: inherit;
  border: none;
  height: 1rem;
  width: 1rem;
  margin-right: 0.25rem;
}

.explorer-filter-display > button:disabled {
  cursor: not-allowed;
}

.explorer-filter-display > button > i {
  background-color: var(--g3-color__bg-coal);
}

.explorer-filter-display__collapse {
  max-height: 90px;
  overflow-x: scroll;
}

.explorer-filter-display > h4 {
  display: inline-block;
  margin-right: 0.25rem;
}

.filter-display .pill {
  background-color: var(--g3-color__bg-cloud);
  border: 1px solid var(--g3-color__lightgray);
  border-radius: 4px;
  padding: 4px;
  margin: 2px;
  line-height: 2rem;
}

/* Tablet width and less */
@media screen and (max-width: 820px) {
  .filter-display .pill {
    font-size: 12px;
  }
}

.filter-display .pill.anchor {
  padding: 8px 4px;
  line-height: 2.2rem;
}

.filter-display .pill > * {
  border-right: 1px solid var(--g3-color__lightgray);
  padding: 2px 4px;
  margin: 0 2px;
}

.filter-display .pill > *:last-child {
  border-right: none;
}

.filter-display .pill code {
  background-color: inherit;
}
