.dataDictionary {
  width: 100%;
  max-width: 100%; /* set the maximum width of the table */
  overflow-x: auto; /* enable horizontal scrolling when necessary */
  height: auto;
  overflow-y: hidden;
}

.dataDictionary table tbody tr:nth-child(4n + 3) {
  background-color: #fafafb;
}

.dataDictionary table thead {
  background: #e9eef2;
}
.dataDictionary table th {
  line-height: 1.2;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}
.dataDictionary .table-column-sorters {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: space-between;
}
.dataDictionary th:hover {
  background-color: #f5f5f5;
}
.dataDictionary th.not-sortable:hover {
  background-color: inherit;
  cursor: inherit;
}
.dataDictionary .table-column-sorter-inner {
  padding-left: 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.dataDictionary .table-column-sorter-inner span {
  font-size: 11px;
  line-height: 0;
  display: inline-block;
}

.dataDictionary .table-column-sorter-down {
  margin-top: -3px;
}
.dataDictionary .table-column-sorter-down svg path,
.dataDictionary .table-column-sorter-up svg path {
  fill: #ccc;
}
.dataDictionary .table-column-sorter-down.active svg path,
.dataDictionary .table-column-sorter-up.active svg path {
  fill: #1890ff;
}

/*Entries Header*/
.dataDictionary .entries-header {
  background-color: #cfdbe6;
  color: black;
  padding: 8px 0 7px 10px;
  width: 100%;
  font-size: 12px;
  font-family: inherit;
  user-select: inherit;
}
.dataDictionary .entries-header th {
  cursor: default;
  font-weight: normal;
  font-size: 12px;
}
.dataDictionary .entries-header th:hover {
  background-color: #cfdbe6;
}

/* Expandable rows */
.dataDictionary tr.expandable > td:first-child {
  padding: 0;
}

.dataDictionary tr td div.expandable {
  max-height: 0px;
  overflow: hidden;
  height: 0;
  transition: all 0.5s;
}
.dataDictionary tr td div.expandable.expanded {
  max-height: 321px;
  height: 321px;
  transition: max-height 0.5s;
  padding: 16px;
  background: #e2e2e3;
}
.dataDictionary .expanded-container {
  background: #fff;
  height: 290px;
  padding: 16px;
}

.dataDictionary .chart-details-wrapper {
  background: #fff;
}
.dataDictionary .chart-details-wrapper.expanded-container.search-highlight {
  background: #fcefe4;
  background: linear-gradient(
    to right,
    #ef8523,
    #ef8523 2px,
    #fcefe4 2px,
    #fcefe4 80%,
    #fcefe4
  );
  width: 100%;
}

.dataDictionary .td-container {
  width: 80%;
  word-wrap: break-word;
}
.dataDictionary .search-highlight,
table > tbody > tr > td.search-highlight:last-of-type {
  background: #fcefe4;
  background: linear-gradient(
    to right,
    #ef8523,
    #ef8523 2px,
    #fcefe4 2px,
    #fcefe4 80%,
    transparent 80%,
    transparent
  );
}
/* Search Bar */
.search-bar {
  background: #cfdbe6;
}
.search-bar-container {
  width: 425px;
  padding: 14px 0 14px 16px;
}
.search-bar-input-control {
  display: block;
  cursor: pointer;
  font-size: 15px;
  width: 15px;
  height: 15px;
  color: white;
  border-radius: 7px;
  border: none;
  background: #adb5bd;
  line-height: 0;
  text-align: center;
  opacity: 70%;
  padding-bottom: 2px;
}
/* Pagination */
.dataDictionary .pagination-wrapper button {
  width: unset;
  transform: scale(0.9);
  padding: 0;
}
.dataDictionary .pagination-container {
  width: 450px;
  margin-left: auto;
}
.dataDictionary .pagination-container div {
  float: right;
  color: #333333;
  font-size: 12px;
}

.dataDictionary .entries-quantity-select select {
  margin: 0 8px 0 5px;
  background-color: #fff;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  width: 44px;
  text-align: center;
}
