.manage-columns-wrapper {
  float: right;
  margin: 15px 0;
}
.manage-columns-wrapper button {
  border: 1px solid #2e77b8;
}
.manage-columns-wrapper .mantine-Popover-dropdown button {
  border: unset;
}

.manage-columns-wrapper .mantine-Button-label {
  font-weight: 400;
}
.manage-columns-wrapper button.opened {
  color: #fff;
  background-color: #2e77b8;
}
.manage-columns-wrapper button.opened svg path {
  fill: #fff;
}
.manage-columns-wrapper .mantine-Popover-dropdown {
  min-width: 238px;
  min-height: 290px;
  box-shadow: 0px 3px 3px #00000029;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  top: 0;
  margin-top: -7px;
  margin-left: -20px;
}
.manage-columns-wrapper .mantine-Switch-root {
  float: right;
}
.manage-columns-wrapper .mantine-Grid-root .mantine-Grid-col svg {
  margin-right: 10px;
}
.manage-columns-wrapper .column-label {
  margin: -2px 10px 0 -10px;
}
.manage-columns-wrapper .column-management-reset-button {
  margin: 0 1em 0.5em 1em;
}
.manage-columns-wrapper .mantine-Popover-dropdown {
  padding: 0.75em 0;
}
.manage-columns-wrapper .column-control-button {
  padding: 0 1em;
}
.manage-columns-wrapper .column-control-button:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}
.manage-columns-wrapper .mantine-Switch-root {
  pointer-events: none;
}
.manage-columns-wrapper
  .mantine-Switch-body
  input:checked
  + .mantine-Switch-track {
  background-color: #ef8523;
  border-color: #ef8523;
}
.manage-columns-wrapper .restore-defaults {
  height: 3em;
}
