/* Global */

:root {
  --focus-outline-color: #007bff; /* Bright Blue */
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.ant-modal-content button:focus {
  outline: 1px dashed var(--focus-outline-color);
  outline-offset: 1px;
}

/* VADC Apps */

.team-project-modal .ant-btn-primary {
  background: #194C90;
  border: #194C90;
}

.team-project-modal .ant-btn-primary:hover,
.team-project-modal .ant-btn-primary:focus {
  background: #2466AC;
  border: #2466AC;
}

/* GWAS App */

.GWASUI-navBtn:not([disabled]) {
  background: #194C90;
  border: #194C90;
}

.GWASUI-navBtn:not([disabled]):hover,
.GWASUI-navBtn:not([disabled]):focus {
  background: #2466AC;
  border: #2466AC;
}
