.workspace-option {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px 20px;
  background: var(--g3-color__white);
  border-radius: 5px;
  border: 1px solid var(--g3-color__silver);
  margin: 10px 20px;
}

.workspace-option__icon {
  margin: 10px 0;
  height: 40px;
}

.workspace-option__description {
  border-bottom: 1px solid var(--g3-color__silver);
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}

.workspace-option__button {
  margin: 15px 0;
}
