.workspace {
  width: 100%;
  min-height: inherit;
}

.error-workspace-placeholder__error-msg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--g3-color__bg-cloud);
  z-index: 1;
  text-align: center;
}