:root {
  --data-dictionary__sidebar-width: 320px;
  --data-dictionary__switch-border-radius: 4px;
  --data-dictionary__switch-border-color: var(--g3-color__black);
}

.data-dictionary {
  display: flex;
  height: calc(100vh - 121px);
}

.data-dictionary__sidebar {
  width: var(--data-dictionary__sidebar-width);
  min-width: var(--data-dictionary__sidebar-width);
  height: 100%;
  background-color: var(--g3-color__white);
  overflow-y: scroll;
  border-right: 1px solid var(--g3-color__smoke);
}

.data-dictionary__main {
  width: calc(100vw - var(--data-dictionary__sidebar-width));
  min-width: 900px;
  overflow-y: scroll;
}

.data-dictionary__graph {
  overflow: hidden;
  height: 100%;
  position: relative;
}

.data-dictionary__table {
  padding: 20px;
}

.data-dictionary__graph--hidden,
.data-dictionary__table--hidden {
  display: none;
}

.data-dictionary__switch {
  display: flex;
  border: 1px solid var(--data-dictionary__switch-border-color);
  border-radius: var(--data-dictionary__switch-border-radius);
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .02rem;
  margin: 15px;
}

.data-dictionary__switch-button {
  width: 50%;
  text-align: center;
  padding: 10px;
  border-left: 1px solid var(--data-dictionary__switch-border-color);
}

.data-dictionary__switch-button:hover {
  background-color: var(--g3-color__base-blue-light);
  color: var(--g3-color__white);
}

.data-dictionary__switch-button:first-child {
  border-left: none;
  border-top-left-radius: var(--data-dictionary__switch-border-radius);
  border-bottom-left-radius: var(--data-dictionary__switch-border-radius);
}

.data-dictionary__switch-button:last-child {
  border-top-right-radius: var(--data-dictionary__switch-border-radius);
  border-bottom-right-radius: var(--data-dictionary__switch-border-radius);
}

.data-dictionary__switch-button--active {
  background-color: var(--g3-color__base-blue);
  color: var(--g3-color__white);
}
