:root {
  --data-dictionary__switch-border-radius: 4px;
  --data-dictionary__switch-border-color: var(--g3-color__black);
}

.data-dictionary__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data-dictionary__graph {
  overflow: hidden;
  height: 100%;
  position: relative;
}

.data-dictionary__table {
  padding: 20px;
}

.data-dictionary__graph--hidden,
.data-dictionary__table--hidden {
  display: none;
}

.data-dictionary__switch {
  display: flex;
  border: 1px solid var(--data-dictionary__switch-border-color);
  border-radius: var(--data-dictionary__switch-border-radius);
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.02rem;
  margin: 15px;
}

.data-dictionary__switch-button {
  width: 50%;
  text-align: center;
  padding: 10px;
  border-left: 1px solid var(--data-dictionary__switch-border-color);
}

.data-dictionary__switch-button:hover {
  background-color: var(--pcdc-color__primary-light);
  color: var(--g3-color__white);
}

.data-dictionary__switch-button:first-child {
  border-left: none;
  border-top-left-radius: var(--data-dictionary__switch-border-radius);
  border-bottom-left-radius: var(--data-dictionary__switch-border-radius);
}

.data-dictionary__switch-button:last-child {
  border-top-right-radius: var(--data-dictionary__switch-border-radius);
  border-bottom-right-radius: var(--data-dictionary__switch-border-radius);
}

.data-dictionary__switch-button--active {
  background-color: var(--pcdc-color__primary);
  color: var(--g3-color__white);
}

.data-dictionary__version-info-area {
  margin: 0 auto;
  padding: 3rem 0 2rem;
  width: fit-content;
}

.data-dictionary__version-info > span {
  font-style: italic;
}

/* Medium screen and less */
@media screen and (max-width: 1090px) {
  .data-dictionary__main {
    max-height: 80%;
  }

  .data-dictionary__searcher {
    display: hidden;
  }

  .data-dictionary__version-info-area {
    display: none;
  }
}

/* Tablet width and less */
@media screen and (max-width: 820px) {
  .data-dictionary__main {
    max-height: 90%;
  }
}
