.download-button:hover,
.download-button:active,
.download-button:focus {
  color: inherit;
}

.data-dictionary__table-data {
  width: 20%;
  background: white;
  color: #222;
  display: table-cell;
  padding: 0.5rem 1rem;
  overflow: auto;
  height: 100%;
}

.data-dictionary__table-data--column-1 {
  width: 35%;
}

.data-dictionary__table-data--column-2 {
  width: 15%;
}

.data-dictionary__table-data--column-3 {
  width: 10%;
}

.data-dictionary__table-data--column-4 {
  width: 40%;
}

.data-dictionary__table-data--head {
  color: white;
  background: #7d7474;
}

.data-dictionary__table-data--right {
  width: 80%;
}