.GWASResults .dismissable-message {
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 15px;
}

.GWASResults .dismissable-message.success {
  border: 1px solid #a8c599;
  background: #fcfff5;
  color: #1e561f;
}

.GWASResults .dismissable-message-description {
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
}

.GWASResults .dismissable-message.warning {
  color: #830e0e;
  border: 1px solid #c59999;
  background: #fff5f5;
  position: relative;
}

.GWASResults .dismissable-message.warning > div:nth-child(2) {
  margin-left: 40px;
}

.GWASResults .dismissable-message.warning > div:nth-child(2):before {
  content: 'x';
  font-size: 20px;
  border: 2px solid #830e0e;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  position: absolute;
  left: 10px;
  padding-left: 8px;
  line-height: 1.1;
}

.GWASResults .dismissable-message.caution {
  color: #996600;
  border: 1px solid #ffe58f;
  background: #fffbe6;
  position: relative;
}

.GWASResults .dismissable-message.caution > div:nth-child(2) {
  margin-left: 40px;
}

.GWASResults .dismissable-message.caution > div:nth-child(2):before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M12.571,3.74l8.381,16.7H4.19l8.381-16.7Zm0-1.812a1.446,1.446,0,0,0-1.189.872L2.845,19.814c-.654,1.163-.1,2.114,1.236,2.114H21.06c1.334,0,1.89-.951,1.236-2.114h0L13.76,2.8a1.445,1.445,0,0,0-1.189-.872Zm1.25,16.25a1.25,1.25,0,1,1-1.25-1.25A1.25,1.25,0,0,1,13.821,18.178Zm-1.25-2.5a1.25,1.25,0,0,1-1.25-1.25v-3.75a1.25,1.25,0,0,1,2.5,0v3.75A1.25,1.25,0,0,1,12.571,15.678Z" transform="translate(-2.571 -1.928)" fill="%23960"/></svg>');
  font-weight: bold;
  height: 30px;
  width: 30px;
  margin-top: 3px;
  position: absolute;
  left: 10px;
  padding-left: 10px;
  line-height: 1.3;
}

.GWASResults .dismissable-message_close {
  cursor: pointer;
  float: right;
  margin-left: 25px;
}

.GWASResults .dismissable-message_close:hover {
  opacity: 0.8;
}
