a {
  color: #0d99b7;
}
a:hover,
a:focus {
  color: #f6921e;
}
.btn-primary {
  background-color: #0d99b7;
}
.btn-primary:hover,
.btn-primary.hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #f6921e;
  border-color: #f6921e;
}
