a {
  color: #0D99B7;
  }
a:hover,
a:focus {
  color: #F6921E;
  }
.btn-primary {
 background-color: #0D99B7;
}
.btn-primary:hover,
.btn-primary.hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #F6921E;
  border-color: #F6921E;
  }
