@import '~@gen3/ui-component/dist/css/base.less';

.filter-section {
  width: 100%;
  padding: 14px 14px;
  background-color: @white;
  border-top: 1px solid @silver;
}

.filter-section__header {
  display: flex;
  justify-content: space-between;
}

.filter-section__title {
  font-size: 10px;
  font-weight: @semi-bold;
  color: @black;
}

.filter-section__options {
  font-size: 12px;
  color: @gray;
}

// For chevron icon
.fa {
  height: 6px;
  color: @light_gray;
}
