@import '../../../css/base.less';

.filter-section {
  width: 190px;
  border: 1px solid @silver;
  border-radius: 4px;
  background-color: @white;
  padding: 14px 14px;
}

.filter-section--closed {
  padding: 14px 14px 0px 14px;
}

.filter-section__header {
  display: flex;
  justify-content: space-between;
}

.filter-section__title {
  font-size: 10px;
  font-weight: @semi-bold;
  color: @black;
}
