.count-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.count-box--align-center {
  padding: 26px;
  background-color: none;
  text-align: center;
}

.count-box--align-left {
  padding: 20px;
  justify-content: space-between;
}

.count-box__title--align-left {
  margin-bottom: 15px;
  vertical-align: top;
}

.count-box__title--align-right,
.count-box__title--align-center {
  line-height: 100%;
  margin-bottom: 11px;
}

.count-box__lock {
  background-color: var(--g3-color__black);
}
