@import '../../css/base.less';

.data-summary-card-group {
  display: flex;
  
  &__card {
    background-color: #ffffff;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;

    &.separated {
      margin-left: 15px;
      &:first-child {
        margin-left: 0px;
      }
    }
    
    &.connected {
      margin: 0;
      &:first-child {
        border: none;
      }
    }
    
    &-left-border {
      position: absolute;
      top: 7px;
      bottom: 7px;
      border-left: solid @silver 1px;
    }
  }

  &__sub-card {
    &-group {
      display: flex;
      height: 100%;
    }
    &-item {
      flex-grow: 1;
      height: 100%;
    }
    &-left-border {
      position: absolute;
      top: 28px;
      bottom: 28px;
      border-left: solid @silver 1px;
    }
  }
}

