@import '~@gen3/ui-component/dist/css/base.less';

.data-explorer-table {
  background-color: @cloud;
}

/* Overriding default Arranger styles, don't adhere to BEM */
/* stylelint-disable */
.data-explorer-table__arranger-table {
  // Top of table where text and search box is located
  .tableToolbar {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .tableToolbar .buttonWrapper {
    display: flex;
  }

  .tableToolbar .buttonWrapper button {
    display: flex;
    background: none;
    border: none;
  }

  .tableToolbar .inputWrapper {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  .tableToolbar .group {
    margin-left: 10px;
    display: flex;
  }

  .tableToolbar .group > * {
    background-color: none;
    display: flex;
    border: solid 1px #cacbcf;
    padding-left: 10px;
    padding-right: 10px;
  }

  .tableToolbar .group > :first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .tableToolbar .group > :last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .range-wrapper {
    min-height: 2.7rem;
  }

  // Overall table
  .scroll-react-table .ReactTable {
    flex-grow: 1;
  }

  .ReactTable {
    border: 1px solid @silver;
    font-size: 14px;
    background: white;
  }

  // All cells in table
  .ReactTable .rt-th,
  .ReactTable .rt-td {
    white-space: normal;
    outline: none;
    border: none;
    padding: 6px 12px;

    &:first-child {
      height: 0;
      width: 0;
      opacity: 0;
      visibility: hidden;
      cursor: none;
    }
  }

  // Table header
  .ReactTable .rt-thead {
    overflow: hidden;
    box-shadow: 0 0 0 0;
  }

  .ReactTable .rt-thead .rt-tr {
    background-color: @white;
    text-align: left;
    box-shadow: 0 0 0 0;
    border-bottom: 1px solid @black;
  }

  // Column headers
  .rt-th,
  .rt-resizable-header-content {
    display: flex;
    align-items: center;
    letter-spacing: 0.02rem;
    font-weight: @semi-bold;
    color: @black;
    font-size: 14px;
  }

  // Sorting behavior on column headers
  .ReactTable .rt-thead .rt-th.-sort-asc,
  .ReactTable .rt-thead .rt-td.-sort-asc,
  .ReactTable .rt-thead .rt-th.-sort-desc,
  .ReactTable .rt-thead .rt-td.-sort-desc {
    box-shadow: 0 0 0 0;
  }

  // Odd rows
  .ReactTable.-striped .rt-tr.-odd {
    background-color: @cloud;
  }

  // Cells in table rows
  .ReactTable .rt-td {
    display: flex;
    align-items: center;
    letter-spacing: 0.03rem;
    color: @gray;
    font-size: 14px;
  }

  // Pagination area at bottom
  .ReactTable .-pagination {
    height: 64px;
    box-shadow: 0 0 0 0;
    border-top: 1px solid @silver;
    padding: 15px;
  }

  // Dropdown to select number of rows
  .ReactTable .-pagination .-pageSizeOptions {
    margin: 0;
  }

  .ReactTable .-pagination .-pageSizeOptions select {
    border: 1px solid @silver;
    border-radius: 2px;
    height: 35px;
  }

  // Overall Pagination component
  .ReactTable .-pagination .-pageJump {
    display: flex;
    border: 1px solid @silver;
    border-radius: 2px;
    height: 35px;
    background-color: @white;
    overflow: hidden;
  }

  // Buttons to jump pages
  .ReactTable .-pagination_button {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: @light_gray;
    border-right: solid 1px @silver;
    min-width: 34px;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
    justify-content: center;
  }

  .ReactTable .-pagination_button:last-child {
    border-right: none;
  }

  // Current page for pagination
  .ReactTable .-pagination_button.-current {
    color: @blue;
  }

}
/* stylelint-enable */

.data-explorer-table__arranger-table .tableToolbar .group .g3-dropdown {
  border: none;
  padding: 0;
  margin: 0 10px;
  display: inline-block;
  z-index: 100000000;
}
