.footer {
  width: 100%;
  background-color: var(--g3-color__bg-coal);
  text-align: center;
  vertical-align: middle;
  min-height: 100px;
}

.footer__nav {
  background-color: var(--g3-color__bg-coal);
  width: 1220px;
  color: white;
  vertical-align: middle;
  margin: auto;
  text-align: left;  
}

.footer__version-area {
  display: inline-flex;
  float: left;
  width: 720px;
  height: 100px;
}

.footer__logo-area {
  display: inline-flex;
  width: 500px;
  justify-content: flex-end;
}

.footer__version {
  width: 220px;
  vertical-align: middle;
  display: inline-block;
  margin: auto;
}

.footer__version-name.h4-typo,
.footer__version-value.body-typo {
  color: white; 
}

.footer__icon {
  margin-left: 40px;
  line-height: 100px;
}

.footer__icon:first-child {
  margin-left: 0;
}

.footer__img {
  height: 60px;
  display: inline;
  vertical-align: middle;
}

.footer__gen3-img {
  
}