.footer__nav {
  background-color: var(--pcdc-color__primary-dark);
  color: white;
  text-align: center;
  vertical-align: middle;
  min-height: 100px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
}

@media screen and (max-width: 1090px) {
  .footer__nav {
    padding: 20px 0;
    flex-flow: column;
  }
}

.footer__spacer-area {
  display: flex;
  flex-basis: 40%;
}

@media screen and (max-width: 1090px) {
  .footer__spacer-area {
    display: none;
  }
}

.footer__privacy-policy-area {
  display: flex;
  flex-basis: 20%;
}

.footer__privacy-policy {
  vertical-align: middle;
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 20%;
  justify-content: center;
  height: 100%;
  color: white;
  text-decoration: none;
}

.footer__privacy-policy:hover {
  color: white;
  text-decoration: underline;
}

@media screen and (max-width: 1090px) {
  .footer__privacy-policy-area {
    width: 100%;
    padding: 20px 0;
    justify-content: stretch;
    text-align: center;
  }
}

@media screen and (max-width: 820px) {
  .footer__privacy-policy-area {
    width: 100%;
    padding: 20px 0;
    justify-content: center;
    flex-flow: wrap;
    text-align: center;
  }
}

.footer__logo-area {
  display: inline-flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1090px) {
  .footer__logo-area {
    justify-content: center;
  }
}

@media screen and (max-width: 820px) {
  .footer__logo-area {
    flex-flow: wrap;
  }
}

.footer__icon {
  margin-left: 40px;
  line-height: 100px;
}

.footer__icon:first-child {
  margin-left: 0;
}

.footer__img {
  height: 60px;
  display: inline;
  vertical-align: middle;
}

.footer__link-area {
  width: 100%;
  margin: 10px;
  text-align: center;
  font-size: 12px;
}

.footer__link {
  display: inline-block;
  word-wrap: none;
  color: white;
}

.footer__link:after {
  content: '|';
  margin: 0 0.25rem;
}

.footer__link:last-child:after {
  content: '';
}

.footer__data-release-version-area {
  display: inline-flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  margin: 1rem;
}

.footer__data-release-version-area--title {
  font-style: italic;
  margin-right: 0.25rem;
}
