.nav-button {
  margin: 4px;
  padding: 10px 2px;
  height: 72px;
  min-width: 110px;
  position: relative;
  display: inline-block;
  text-align: center;
  opacity: 0.8;
}

.nav-button:hover,
.nav-button--active {
  color: var(--g3-color__black);
  opacity: 1;
}

.nav-button:hover::after,
.nav-button--active::after {
  border-bottom: 3px solid var(--pcdc-color__secondary);
  content: '';
  width: calc(110px + 2 * 4px);
  position: absolute;
  left: -4px;
  bottom: -4px;
}

.nav-button__icon {
  vertical-align: middle;
  padding-left: 4px;
}

@media screen and (max-width: 820px) {
  .nav-button {
    width: 100%;
    margin: 6px 0;
    padding: 4px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: auto;
  }

  .nav-button:hover,
  .nav-button--active {
    border-left: 6px solid var(--pcdc-color__secondary);
  }

  .nav-button:hover::after,
  .nav-button--active::after {
    border-bottom: none;
  }
}
