.navbar-tooltip {
  position: absolute;
  z-index: 1000;
  color: var(--g3-color__titanium);
}

.navbar-tooltip__wrapper {
  position: relative;
  background-color: var(--g3-color__white);
  vertical-align: middle;
  padding: 10px;
  left: -220px;
  width: 240px; /* tooltipWidth = 240 */
  top: 5px;
  border: 1px solid var(--g3-color__gray);
  border-radius: 4px;
}

.navbar-tooltip__arrow {
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  left: calc(90% - 10px);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--g3-color__gray); /* gap = 10px */
}

.navbar-tooltip__arrow--inner {
  top: -9px;
  border-bottom: 10px solid var(--g3-color__white);
}

.navbar-tooltip__content {
  position: relative;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.6em;
  letter-spacing: .02rem;
  text-align: unset;
}
