.nav-bar {
  width: 100vw;
  background-color: var(--g3-color__white);
  border-bottom: 1px solid var(--g3-color__smoke);
}

.nav-bar__nav--left {
  float: left;
  display: inline-flex;
}

.nav-bar__nav--right {
  float: right;
  color: var(--g3-color__white);
  overflow: hidden;
}

.nav-bar__header {
  background-color: white;
  overflow: hidden;
  margin: auto;
  width: 1220px;
}

.nav-bar__header--full-width {
  min-width: 100vw;
  padding: 0 20px;
}

.nav-bar__link {
  color: var(--g3-color__gray);
  display: inline-block;
  text-align: center;
}

.nav-bar__link--right {
  border-left: 1px solid var(--g3-color__smoke);
}

.nav-bar__link--right:last-child {
  border-right: 1px solid var(--g3-color__smoke);
}

.nav-bar__link--home {
  padding-top: 4px;
}

.nav-bar__link--home:hover {
  color: var(--g3-color__black);
  opacity: 1;
  border-bottom: 3px solid var(--g3-color__highlight-orange);
}

.nav-bar__logo {
  padding: 8px 0;
  display: inline-block;
}

.nav-bar__logo-img {
  height: 64px;
  display: block;
  padding-right: 8px;
}

.nav-bar__home-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  height: 64px;
  margin: auto;
  border-left: 1px solid var(--g3-color__smoke);
}
