.nav-button {
  margin: 6px;
  padding: 10px 2px;
  height: 68px;
  min-width: 110px;
  display: inline-block;
  text-align: center;
  opacity: 0.8;
}

.nav-button:hover {
  color: var(--g3-color__black);
  opacity: 1;
  border-bottom: 3px solid var(--pcdc-color__secondary);
}

.nav-button__icon {
  vertical-align: middle;
  padding-left: 4px;
}

@media screen and (max-width: 820px) {
  .nav-button {
    width: 100%;
    margin: 6px 0;
    padding: 4px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: auto;
  }

  .nav-button:hover,
  .nav-button.button-active {
    border-left: 6px solid var(--pcdc-color__secondary);
    border-bottom: none;
  }
}
