.top-bar {
  background-color: var(--pcdc-color__primary);
  color: white;
  display: flex;
  align-items: center;
  min-height: 40px;
}

.top-bar__items {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.top-bar__menu-group {
  flex-basis: auto;
  margin: 0 20px;
}

@media screen and (max-width: 820px) {
  .top-bar {
    justify-content: flex-end;
  }

  .top-bar .top-bar__items {
    display: none;
  }
}
