.top-bar {
  background-color: var(--pcdc-color__primary);
  color: white;
  display: flex;
  justify-content: space-between;
  margin: auto;
  min-height: 40px;
  overflow: hidden;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 1090px) {
  .top-bar {
    justify-content: flex-end;
  }

  .top-bar .hidden-lg-and-down {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  .top-bar .hidden-md-and-down {
    display: none;
  }
}
