.top-bar-menu__items {
  background-color: var(--g3-color__white);
  border: 1px solid var(--g3-color__silver);
  border-radius: 4px;
  box-shadow: 0 0 0 1px hsl(0deg 0% 0% / 10%), 0 4px 11px hsl(0deg 0% 0% / 10%);
  margin-top: 0.25rem;
  margin-right: 1rem;
  min-width: 200px;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  transform-origin: top right;
  z-index: 1;
}

.top-bar-menu__items > hr {
  border-top: 0.5px solid var(--g3-color__silver);
  margin: 0.25rem;
}

.top-bar-menu__item > * {
  background-color: var(--g3-color__white);
  border: none;
  border-radius: 4px;
  color: var(--g3-color__gray);
  display: block;
  font-weight: var(--g3-font__semi-bold-weight);
  height: 100%;
  line-height: initial;
  margin-bottom: 2px;
  padding: 0.5rem 1rem;
  text-align: initial;
  width: 100%;
}

.top-bar-menu__item > *:not(span):hover {
  background-color: var(--g3-color__silver);
  color: var(--g3-color__gray);
}

.top-bar-menu__item i.g3-icon {
  background-color: var(--g3-color__gray);
  height: 14px;
  margin-left: 0.25rem;
  position: relative;
  top: 2px;
  width: 14px;
}

.top-bar-menu:not(:last-child) {
  margin-right: 8px;
}

.top-bar-menu button .top-bar-item__content {
  margin: 0;
}

.top-bar-menu > button i.g3-icon {
  height: 24px;
  width: 24px;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.top-bar-menu > button.top-bar-item--active i.g3-icon,
.top-bar-menu > button:hover i.g3-icon {
  background-color: var(--pcdc-color__secondary-light);
}

.top-bar-menu > button.top-bar-item--active svg,
.top-bar-menu > button:hover svg {
  color: var(--pcdc-color__secondary-light);
}
