.top-icon-button {
  border-right: 2px solid var(--pcdc-color__primary-light);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0 0;
  margin-top: 9px;
  margin-bottom: 9px;
}

@media screen and (max-width: 820px) {
  .top-icon-button {
    border-right: none;
    width: unset;
  }
}

.top-icon-button:last-child {
  border-right: 0;
}

@media screen and (max-width: 820px) {
  .top-icon-button:nth-child(-n + 2) {
    display: none;
  }
}

.top-icon-button__content {
  background-color: var(--pcdc-color__primary);
  margin: auto 20px;
  width: auto;
}

.top-icon-button__content.body-typo {
  color: var(--g3-color__white);
}

.top-icon-button__content:hover {
  border-bottom: 1px solid var(--g3-color__white);
}

i.top-icon-button__icon {
  width: 14px;
  height: 14px;
  background-color: var(--g3-color__white);
  position: relative;
  top: 2px;
}

.top-icon-button--logout {
  height: auto;
  width: auto;
  background: none;
  border: none;
}
