@import '../../css/base.less';

.top-icon-button.body-typo {
  background-color: @blue;
  color: @white;
  margin: auto 20px;
  width: auto;
  display: block;
}

.top-icon-button:hover {
  border-bottom: 1px solid #ffffff;
}
