@import '~@gen3/ui-component/dist/css/base.css';
@import '~@gen3/ui-component/dist/css/icon.css';

.top-icon-button.body-typo {
  background-color: var(--g3-color__base-blue);
  color: var(--g3-color__white);
  margin: auto 20px;
  width: auto;
  display: block;
}

.top-icon-button:hover {
  border-bottom: 1px solid var(--g3-color__white);
}

.top-icon-button__icon {
  width: 14px;
  height: 14px;
  background-color: var(--g3-color__white);
  position: relative;
  top: 2px;
}
