.discovery-container {
  background-color: #f2f2f2;
  padding: 40px 32px;
}

/* This is a fix for the global 'button' element style override in portal
  * https://github.com/uc-cdis/gen3-ui-component/blob/6b0aa10f63f0a325f58200148cd5ffbb6e4c2c46/src/css/base.less#L180
  * We use .ant-modal-root here to apply this reset style to Ant design modals, which
  * are not children of .discovery-container.
  */
.discovery-container button, .ant-modal-root button {
  width: initial;
  display: initial;
  vertical-align: initial;
}

/* Highlight matched search text */
.discovery-container .matched {
  font-weight: bold;
  color: #000;
  text-decoration: underline;
}

.discovery-page-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #555;
  margin-bottom: 16px;
}

.discovery-header {
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 36px;
  height: 191px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.discovery-header__stats-container {
  height: 100%;
  width: 17%;
  position: relative;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.discovery-header__stats-wrapper {
  display: inline-block;
}

.discovery-header__stats-wrapper#Studies {
  width: 65px;
}

.discovery-header__stats-wrapper[data-aggregation-type="TotalSubjects"] {
  width: 135px;
}

.discovery-header__stat {
  text-align: center;
  cursor: default;
}

.discovery-header__stat-border {
  width: 1px;
  height: 150px;
  border-left: solid #e7e7e7 1px;
}

.discovery-header__stat-number {
  color: #169bd5;
  font-size: 40px;
  line-height: 50px;
  padding: 10px 0 10px 0;
}

.discovery-header__stat-label {
  font-size: 1.25rem;
}

.discovery-header__tags-container {
  flex: 1 0 auto;
  height: 90%;
}

.discovery-header__tags-header {
  padding-left: 50px;
  cursor: default;
  border-bottom: solid 1px #e7e7e7;
  font-weight: normal;
  font-size: 1.125rem;
  color: #555;
}

.discovery-header__tags {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.discovery-header__tag-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: bold;
  overflow-y: scroll;
  overflow-x: visible;
  max-width: 290px;
  height: 111px;
}

.discovery-header__tag-group::-webkit-scrollbar {
  display: none;
}

.discovery-header__tag-btn {
  cursor: pointer;
}

.discovery-header__tag-btn:focus, .discovery-header__tag-btn:focus-within, .discovery-header__tag-btn:focus-visible {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.discovery-tag {
  border-radius: 5px;
  border-width: 2px;
  box-sizing: border-box;
  line-height: 18px;
  color: #555;
  margin-bottom: 3px;
  user-select: none;
}

.discovery-tag--selected {
  color: #fff;
}

.discovery-table-container {
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  overflow-x: auto;
}

.discovery-table__header {
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.discovery-search {
  border-radius: 5px;
  max-width: 500px;
}

.discovery-export__selected-ct {
  color: var(--g3-color__gray);
}

.discovery-table__row {
  cursor: pointer;
}

/* some light css hacks here to override antd default expanded row styles. */
.discovery-table__expanded-row > td.ant-table-cell {
  color: var(--g3-color__titanium);
}

.discovery-table-container .ant-input-lg {
  font-size: 1rem;
}

.discovery-table__expanded-row-content {
  cursor: pointer;
  height: 40px;
  width: 100%;
  overflow: hidden;
  /* ---------
   * Add an ellipsis after N rows of text.
   * This css won't work in IE 11, but it's ok, there just won't be an ellipsis.
   **/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  /* --------- */
}

.discovery-table-container .ant-table, .discovery-table-container .ant-btn {
  font-size: 0.875rem;
}

.discovery-popover {
  max-width: 500px;
}

.discovery-popover__text {
  color: var(--g3-color__titanium);
  font-size: 0.625rem;
}

.discovery-modal__attribute-group {
  display: flex;
  flex-direction: column;
}

.discovery-modal__attribute-name {
  color: var(--g3-color__titanium);
  margin-right: 7px;
}

#discovery-page-accessibility-links {
  top:129px;
}

.discovery-hidden-link {
  visibility: hidden;
}
