.discovery-container {
  background-color: #f2f2f2;
  padding: 30px 32px;
}

.discovery-container * {
  font-family: inherit;
}

/* This is a fix for the global 'button' element style override in portal
  * https://github.com/uc-cdis/gen3-ui-component/blob/6b0aa10f63f0a325f58200148cd5ffbb6e4c2c46/src/css/base.less#L180
  * We use .ant-modal-root here to apply this reset style to Ant design modals, which
  * are not children of .discovery-container.
  */
.discovery-container button, .ant-modal-root button {
  width: initial;
  display: initial;
  vertical-align: initial;
}

/* Highlight matched search text */
.discovery-container .matched {
  font-weight: bold;
  color: #000;
  text-decoration: underline;
}

.discovery-page-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #555;
  margin-bottom: 16px;
}

.discovery-header {
  border-radius: 8px;
  background-color: #fff;
  padding: 10px 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.discovery-header__stats-container {
  height: 100%;
  width: 17%;
  position: relative;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.discovery-header__stats-wrapper {
  display: inline-block;
}

.discovery-header__stats-wrapper#Studies {
  width: 65px;
}

.discovery-header__stats-wrapper[data-aggregation-type="TotalSubjects"] {
  width: 135px;
}

.discovery-header__stat {
  text-align: center;
  cursor: default;
}

.discovery-header__stat-border {
  width: 1px;
  height: 100px;
  border-left: solid #e7e7e7 1px;
}

.discovery-header__stat-number {
  color: #169bd5;
  font-size: 40px;
  line-height: 50px;
  padding: 10px 0 10px 0;
}

.discovery-header__stat-label {
  font-size: 1.25rem;
  font-size: 40px;
  font-size: 14px;
  line-height: 50px;
  text-transform: uppercase;
}

.discovery-header__tags-container {
  flex: 1 1 auto;
  height: 90%;
}

.discovery-header__dropdown-tags-container {
  flex: 3 1 60%;
  height: 90%;
}

.discovery-header__tags-header {
  padding-left: 50px;
  cursor: default;
  font-weight: normal;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #555;
}

.discovery-header__tags {
  width: 100%;
}

.discovery-header__tag-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.discovery-header__tag-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: 200px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.discovery-tag-column {
  padding-right: 15px;
}

.discovery-tag-column--expanded {
  overflow-y: auto;
}

.discovery-header__tag-btn {
  white-space: pre-wrap;
}

.discovery-tag {
  cursor: pointer;
  line-height: 18px;
  font-size: 12px;
  box-sizing: border-box;
  border-radius: 5px;
  border-width: 2px;
  margin-bottom: 3px;
}

.discovery-tag:focus, .discovery-tag:focus-within, .discovery-tag:focus-visible {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.discovery-tag--selected {
  color: #fff;
}

.discovery-export__selected-ct {
  color: var(--g3-color__gray);
}

.discovery-studies-container {
  border-radius: 8px;
  background-color: #fff;
  padding: 20px;
  overflow-x: hidden;
}

.discovery-studies__header {
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.discovery-filters {
  position: absolute;
  width: 280px;
  margin-right: 20px;
  overflow-y: auto;
}

.discovery-search-container__standalone {
  margin-bottom: 10px;
}

.discovery-search {
  border-color: var(--g3-color__base-blue);
  border-width: 1px;
  border-radius: 7px;
  max-width: 800px;
}

.discovery-input-subtitle {
  font-size: 0.75em;
  color: var(--g3-color__titanium);
}

#discovery-table-of-records {
  overflow: visible;
}

.discovery-table-container {
  border-radius: 8px;
  background-color: #fff;
  transform: translateX(0);
  transition: transform 300ms, width 250ms 50ms;
  overflow-x: auto;
}

.discovery-table-container--collapsed {
  width: calc(100% - 300px);
  transform: translateX(300px);
  transition: transform 300ms, width 250ms 50ms;
}

.discovery-table-header {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.discovery-table__row {
  cursor: pointer;
  overflow: visible;
  position: relative;
}

.discovery-table-container .ant-table-column-sorter {
  display:none;
}

/* HACK: Because the study description row is a separate row under the hood,
 * it doesn't change color when you highlight its parent row.
 * To fix this, we did a different hacky approach.
 * In the JS code we determine the row index that has mouse on,
 * and then we add an arbitrary `--hover` suffix to both row and expandable row on that index.
 * Finally we override the default :hover effect of both classes.
 * ------------------------------------------------------------------------ */
.discovery-table__expanded-row--hover > td.ant-table-cell {
  font-size: 12px;
  padding: 0;
  border-bottom: 0 solid #ccc;
}

.discovery-table-container th.ant-table-cell,
.discovery-table-container .discovery-table__row > td.ant-table-cell {
  border-color: #dfe3e2;
  background: #dfe3e2;
}

.discovery-table-container .discovery-table__expanded-row > td.ant-table-cell {
  border-color: #dfe3e2;
  background: #dfe3e2;
  font-size: 12px;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

.discovery-table-container .discovery-table__expanded-row--hover > td.ant-table-cell {
  border-top: none;
  background: #fff;
  font-size: 12px;
  padding: 0;
  border-bottom: 1px solid #ccc;
}


.discovery-table-container .ant-table-tbody > tr.discovery-table__row > td {
  border-bottom: 0;
  background: #dfe3e2;
}

.discovery-table-container .ant-table-tbody > tr.discovery-table__row--hover > td {
  border-bottom: 0;
  background: #fff;
  /* transition: background-color 0.3s, border-color 0.3s; */
}

.discovery-table-container tr.ant-table-expanded-row:hover > td {
  background: none;
}

.discovery-table-container .ant-table-tbody > tr.ant-table-row:hover > td {
  background: none;
}

.discovery-table-container .ant-table-tbody > tr.discovery-table__row {
  background: #dfe3e2;
  border-color: #dfe3e2;
}
/* ---------------------------------------------------- */
/* END HACK */

.discovery-table__expanded-row-content {
  background: inherit;
  margin-top: -25px;
  cursor: pointer;
  height: 35px;
  width: 100%;
  overflow: hidden;
  padding: 0 16px 0 16px;
  margin: 1px 0 1px 0;
  /* ---------
     * Add an ellipsis after N rows of text.
     * This css won't work in IE 11, but it's ok, there just won't be an ellipsis.
     **/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  /* --------- */
}

.discovery-table-container .ant-table, .discovery-table-container .ant-btn {
  font-size: 0.875rem;
}

.discovery-popover {
  max-width: 500px;
}

.discovery-popover__text {
  color: var(--g3-color__titanium);
  font-size: 0.625rem;
}

.discovery-adv-filter-button {
  color: var(--g3-color__base-blue);
  font-weight: 700;
}

.discovery-action-bar-button {
  color: var(--g3-color__base-blue);
  border-color: var(--g3-color__base-blue);
}

.discovery-action-bar-button--disabled {
  color: unset;
  border-color: unset;
}

.discovery-header__dropdown-tags-control-button {
  color: var(--g3-color__base-blue);
  border-color: var(--g3-color__base-blue);
  min-width: 150px;
  margin-left: 8px;
  height: 40px;
  border-width: 1px;
  border-radius: 7px;
}

.discovery-header__dropdown-tags-control-panel {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.discovery-header__dropdown-tags-display-panel .ant-collapse-header {
  display: none;
}

.discovery-header__dropdown-tags-search {
  width: 50%;
}

.discovery-header__dropdown-tags .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-width: 1px;
  border-radius: 7px;
}

.discovery-modal {
  box-sizing: border-box;
}

.discovery-modal * {
  box-sizing: inherit;
}

.discovery-modal__close-button {
  color: var(--g3-color__base-blue);
  text-transform: uppercase;
  font-weight: 700;
}

.discovery-modal__header-text {
  margin: 6px;
}

.discovery-modal__header-buttons {
  display: flex;
  justify-content: space-between;
}

.discovery-modal-attributes-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.discovery-modal__attribute-group--fullwidth {
  flex: 1 1 100%;
}

.discovery-modal__attribute-group--halfwidth {
  flex: 1 1 40%;
  max-width: 50%;
}

.discovery-modal__attribute-group--halfwidth + .discovery-modal__attribute-group--halfwidth {
  margin-left: 8px;
}

.discovery-modal__attribute-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.discovery-modal__attribute-name {
  margin-right: 7px;
  padding: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

#discovery-page-accessibility-links {
  top: 129px;
  padding-right: 16px;
}

.discovery-hidden-link {
  display: none;
  visibility: hidden;
  margin: 12px 6px;
}

.discovery-modal__attribute {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #313839;
  font-size: 12px;
  background-color: #dfe3e2;
  border-radius: 4px;
  min-width: 370px;
}

.discovery-modal__attribute-value {
  text-align: left;
  padding: 4px;
  overflow: hidden;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.discovery-modal__attribute-value--multiline {
  display: block;
  text-align: left;
}

.discovery-modal__attribute-value > p {
  margin-bottom: 0;
}

.discovery-modal__download-panel {
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid #dfe3e2;
}

.discovery-modal__download-panel-header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  background: #dfe3e2;
}

.discovery-modal__download-panel-header > .ant-collapse-content {
  background: #dfe3e2;
  border: none;
}

.discovery-modal__download-button {
  text-transform: none;
}

.discovery-modal__download-list-title {
  text-transform: none;
  font-weight: bold;
  font-size: 12px;
}

.discovery-modal__download-list-description {
  font-size: 12px;
  text-transform: none;
  color: #313839;
  font-weight: normal;
}
