.quiz_status-box {
  display: table;
  margin-bottom: 40px;
  width: 255px;
}

.quiz__status-title {
  display: table-row;
  width: 255px;
  color: var(--g3-color__gray);
}

.quiz__status-title--incorrect {
  display: table-row;
  width: 255px;
  color: var(--g3-color__rose);
}
