.GWASV2 .steps-content {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  background-color: #fafafa;
  padding-top: 25px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.GWASUI-searchContainer {
  border: 1px solid black;
  background-color: white;
  align-items: center;
  border-radius: 5px;
  padding: 8px;
  margin-top: 5px;
  width: 100%;
  height: 50px;
}
.GWASUI-searchInput {
  padding: 5px;
  font-size: 14px;
  font-style: italic;
  border: none;
  width: 90%;
}

.GWASUI-searchInput:focus {
  outline-color: transparent;
  outline-style: none;
}

.ant-select-selector,
.ant-select-selection-item,
.ant-input,
.ant-input-disabled {
  background-color: white;
  color: black;
}

.ant-select-inline-collapsed-tooltip {
  display: none;
}
.ant-modal-footer {
  height: 80px;
}

.ant-modal-body {
  width: 600px;
}

.ant-modal-content {
  width: 600px;
}

.ant-collapse {
  margin-bottom: 10px;
}

.ant-list-items {
  content: center;
}
.GWASUI-flexRow {
  display: flex;
  width: 650px;
}
.GWASUI-flexCol {
  flex: 2;
  padding: 10px;
  margin: 10px;
}

.GWASUI-cdList,
.GWASUI-align {
  flex: 1;
}
.GWASUI-spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px;
}
.GWASUI-emptyTable {
  height: 400px;
}

.GWASUI-btnEnable {
  background-color: rgb(24, 144, 255);
  color: white;
  transition: all 0.5s ease-in-out;
}

.GWASV2 .steps-action {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.GWASV2 .GWASUI-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.GWASV2 .GWASUI-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.GWASV2 .GWASUI-double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.GWASV2 .steps-wrapper {
  width: 100%;
}

.GWASV2 .steps-content {
  border: none;
  background: none;
}

.GWASV2 .GWASUI-searchContainer {
  border: 1px solid #e9e9ea;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px 3px 5px 10px;
  height: 40px;
}

.GWASV2 .GWASUI-searchContainer svg {
  color: #9d9d9d;
  font-size: 20px;
}

.GWASV2 .GWASUI-searchContainer input {
  font-style: normal;
}

.GWASV2 .analysis-app__actions .steps-content {
  background-color: inherit;
  border: none;
  padding-top: 10px;
}

.GWASUI-navBtn {
  width: 150px;
}

.GWASV2 .GWASUI-mainTable {
  border: none;
  min-width: 500px;
  padding: 0 8px;
  border: 1px solid #e9e9e9;
}

.GWASV2 .ant-table.ant-table-middle .ant-table-thead > tr > th:before {
  display: none;
}

.GWASV2 .GWASUI-table1 tr:nth-child(even) {
  background-color: #fafafb;
}

.GWASV2 .GWASUI-table1 thead th {
  background-color: #e9eef2;
}

.GWASV2 .GWASUI-table1 .ant-table-container {
  border-top-left-radius: none;
  border-top-right-radius: none;
  border-radius: 5px;
  border: 2px solid #dedede;
}

.GWASV2 .GWASUI-table1 .ant-table-cell-row-hover {
  cursor: pointer;
}

.GWASV2 .GWASUI-table1 .ant-table-cell-row-hover .ant-radio-inner {
  border-color: #1890ff;
}

.GWASV2 .GWASUI-selectionUI {
  height: 519px;
  width: 988px;
  background: #fff;
  text-align: center;
}

.GWASV2 .GWASUI-selectionUI button {
  margin-top: 200px;
  height: 96px;
  width: 317px;
  margin-right: 16px;
  background: #fafafb;
  border: 1px solid #2e77b8;
  border-radius: 4px;
  position: relative;
  margin-bottom: 20px;
}

.GWASV2 .GWASUI-selectionUI button:hover {
  background: #2e77b8;
}

.GWASV2 .GWASUI-selectionUI button span:first-child {
  background: #ef8523;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 33px;
  color: #fff;
  font-size: 35px;
  padding-top: 4px;
  margin-left: 15px;
  text-align: center;
  border-radius: 5px;
}

.GWASV2 .GWASUI-selectionUI button span:nth-child(2) {
  position: absolute;
  font-size: 15px;
  color: #2e77b8;
  display: block;
  top: 37px;
  left: 60px;
}

.GWASV2 .GWASUI-selectionUI button:hover span:nth-child(2) {
  color: #fff;
}

.GWASV2 .GWASUI-selectionUI button:hover span:first-child {
  background: #fff;
  color: #2e77b8;
}

.GWASUI-card-column {
  background: #e9eef2;
  padding: 10px;
  width: 206px;
  height: 519px;
  overflow-y: auto;
  overflow-x: hidden;
}
