.gql-editor {
  height: calc(~"100vh - 181px");
}

.gql-editor__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.gql-editor__title {
  line-height: 80px;
  vertical-align: center;
  margin: 0;
}

.gql-editor .graphiql-container {
  height: calc(~"100vh - 181px - 80px");
}

.gql-editor__button {
  float: right;
  margin-top: 10px;
}

.gql-editor__button .g3-dropdown {
  z-index: 10;
}

.gql-editor__button--active {
  background-color: var(--g3-color__gray);
  color: var(--g3-color__white);
}
