.gql-editor {
  height: calc(~"100vh - 181px");
}

.gql-editor__title {
  line-height: 80px;
  vertical-align: center;
  margin: 0;
}

.gql-editor .graphiql-container {
  height: calc(~"100vh - 181px - 80px");
}
