.login-page {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 820px) {
  .login-page {
    justify-content: center;
  }
}

.login-page__side-box {
  text-align: center;
  display: flex;
  justify-content: center;
}

.login-page__side-box svg {
  display: block;
}

.login-page__side-box--right svg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.login-page__central-content {
  text-align: center;
  flex-basis: 50%;
  color: #000000;
  align-self: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media screen and (max-width: 820px) {
  .login-page__central-content {
    padding: 40px 10px;
  }
}

.login-page__title {
  margin-bottom: 11px;
  line-height: 40px;
}

.login-page__sub-title {
  text-transform: uppercase;
}

.login-page__separator {
  width: 30px;
  height: 5px;
  text-align: center;
  background-color: #9b9b9b;
  margin: 17px auto;
}

.login-page__entries {
  display: block;
  margin: 25px auto;
}
