.login-page {
  display: flex;
  justify-content: space-between;
}

.login-page__side-box {
  width: 257px;
  min-width: 257px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.login-page__side-box svg {
  display: block;
}

.login-page__central-content {
  text-align: center;
  width: 756px;
  margin: auto;
  padding: 0 100px;
  color: #000000;
}

.login-page__title {
  margin-bottom: 11px;
  line-height: 40px;
}

.login-page__sub-title {
  text-transform: uppercase;
}

.login-page__separator {
  width: 30px;
  height: 5px;
  text-align: center;
  background-color: #9b9b9b;
  margin: 17px auto;
}

.login-page__entries {
  margin: 25px 0;
}