.study-viewer {
  width: 100%;
  padding: 40px 20px;
}

.study-viewer__title {
  padding-top: 10px;
  flex-basis: 460px;
}

.study-viewer__login-banner {
  padding-top: 10px;
}

.study-viewer__space {
  width: 100%;
}

.study-viewer__card {
  width: 100%;
  border: 1px solid black;
}

.study-details__descriptions {
  border: 1px solid black;
}

.study-viewer__details {
  display: flex;
  width: 100%;
}

.study-viewer__details-doc {
  width: 30%;
  height: fit-content;
  margin-left: 10px;
  border: 1px solid black;
  align-self: center;
}

.study-viewer__details-doc-space {
  width: 100%;
  padding: 10px;
}
