.study-viewer {
  width: 100%;
  padding: 20px;
}

.study-viewer_loading {
  display: flex;
  justify-content: center;
}

.study-viewer__title {
  padding-top: 10px;
  flex-basis: 460px;
}

.study-viewer__space {
  width: 100%;
}

.study-viewer__card {
  width: 100%;
  border: 1px solid black;
  margin: 10px 0;
}

.study-viewer__card > .ant-card-head {
  background-color: var(--g3-primary-btn__bg-color);
  color: var(--g3-primary-btn__color);
}

.study-details__descriptions {
  border: 1px solid black;
}

.study-details__descriptions tbody > tr > th.ant-descriptions-item-label {
  background-color: #fff;
}
.study-details__descriptions tbody > tr:nth-child(even) > th,
.study-details__descriptions tbody > tr:nth-child(even) {
  background-color: #fafafa;
}

.study-viewer__details {
  display: flex;
  width: 100%;
}

.study-viewer__details-sidebar {
  width: 30%;
  margin-left: 10px;
  display: flex;
}

.study-viewer__details-sidebar-box {
  height: fit-content;
  border: 1px solid black;
}

.study-viewer__details-sidebar-space {
  width: 100%;
  padding: 0 0 10px;
  background-color: var(--g3-color__white);
}

.study-viewer__details-sidebar-space > div {
  padding: 0 10px;
}
.study-viewer__details-sidebar-space > div:first-child {
  padding: 5px 10px;
  background-color: var(--g3-primary-btn__bg-color);
  color: var(--g3-primary-btn__color);
}

.study-details {
  width: 100%;
  background-color: var(--g3-color__white);
  padding: 10px;
}

/* antd modal style override */
.study-viewer .ant-modal-header {
  background-color: var(--secondary-color);
}

.study-viewer .ant-modal-title {
  color: white;
}

/* temp fix, there is an official fix coming up soon https://github.com/ant-design/ant-design/pull/26721 */
.study-viewer .ant-space-item:empty {
  display: none;
}
