.summary-pie-chart {
  width: 100%;
  padding: 12px;
  background-color: white;
}

.summary-pie-chart__title-box {
  text-align: center;
  border-bottom: solid black 1px;
}

.summary-pie-chart__title {
  line-height: 10px;
  margin-bottom: 12px;
}

.summary-pie-chart__body {
  display: flex;
  flex-direction: row;
}

.summary-pie-chart__legend {
  width: 40%;
  flex-grow: 0;
  padding-top: 8px;
}

.summary-pie-chart__legend-item {
  text-align: right;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: .03rem;
  color: #606060;
}

.summary-pie-chart__legend-item-value {
  margin-top: 8px;
}

.summary-pie-chart__legend-item-name {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#recharts_measurement_span {
  display: none;
}