.steps-content {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  background-color: #fafafa;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.steps-action {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tour-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.ant-btn {
  width: auto;
}

.GWASUI-mainTable {
  min-width: 500px;
  padding: 0 8px;
  border: 1px solid #e9e9e9;
}

.GWASUI-subTable {
  min-width: 305px;
  padding: 0 2px;
}

.GWASApp-jobStatus {
  width: 100%;
  margin-bottom: 16px;
  min-width: 800px;
}

.GWASUI-navBtn {
  width: 150px;
}

.GWASUI-specifyTable {
  padding: 8px;
  border: 1px solid #e9e9e9;
}

.GWASUI-specifyTable__innerSpace {
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
}

.GWASUI-specifyTable__formItem {
  width: 200px;
  padding-bottom: 0;
  margin-bottom: 0;
  align-items: center;
}

.GWASUI-specifyTable__formItem > .ant-form-item-control {
  align-items: center;
  text-align: center;
}

.GWASUI-mainArea {
  min-width: 600px;
  padding: 8px;
  border: 1px solid #e9e9e9;
}

.GWASUI-selectedCohort {
  color: var(--g3-color__base-blue);
}


.GWASUI-selectInstruction {
  color: var(--g3-color__base-blue);
  font-weight: bold;
  white-space: normal;
  overflow: hidden;
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.GWASUI-searchContainer {
  border: 1px solid black;
  background-color: white;
  align-items: center;
  border-radius: 5px;
  padding: 8px;
  margin-top: 5px;
  width: 100%;
  height: 50px;
}

.GWASUI-searchInput {
  padding: 5px;
  font-size: 14px;
  font-style: italic;
  border: none;
  width: 90%;
}

.GWASUI-searchInput:focus {
  outline-color: transparent;
  outline-style: none;
}

.GWASUI-typeSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.GWASUI-typeTitle {
  float: relative;
}

.ant-select-selector, .ant-select-selection-item, .ant-input, .ant-input-disabled {
  background-color: white;
  color: black;
}

.ant-select-inline-collapsed-tooltip {
  display: none;
}

.GWAS-headingContainer {
  clear: both;
  width: 450px;
}

.GWAS-leftHeading {
  float: left;
}

.GWAS-rightHeading {
  float: right;
}

.GWAS-leftHeading, .GWAS-rightHeading {
  border: 1px solid gray;
  color: white;
  background-color: rgb(24, 144, 255);
  padding: 3px;
  border-radius: 2px;
}

.GWASUI-btnContainer {
  display: flex;
  float: left;
  padding: 2px;
}

.ant-modal-footer {
  height: 80px;
}

.ant-modal-body {
  width: 600px;
}

.ant-modal-content {
  width: 600px;
}

.GWASApp-jobStatus .ant-collapse {
  width: 100%;
}

.ant-list-items {
  content: center;
}

.GWASUI-flexRow {
  display: flex;
  width: 650px;
}

.GWASUI-navRow {
  display: flex;
  flex-direction: row;
}

.GWASUI-title {
  color: white;
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
}
.GWASUI-headerColor {
  background-color: rgb(24, 144, 255);
}

.GWASUI-flexHeader1 {
  border-right: 1px solid lightgray;
}

.GWASUI-flexHeader2 {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.GWASUI-rowItem {
  border-bottom: 1px solid lightgray;
  align-items: center;
}

.GWASUI-flexCol {
  flex: 2;
  padding: 10px;
  margin: 10px;
}

.GWASUI-listItem {
  padding: 3px;
}

.GWASUI-submitContainer {
  margin-left: auto;
  margin-top: 20px;
}

.GWASUI-nameInput {
  padding: 5px;
  margin-right: auto;
  margin-top: 20px;
}

.GWASUI-cohortSelector {
  width: 800px;
}

.GWASUI-addCohortBtn {
  width: 15px;
  flex-basis: 20%;
  align-self: flex-end;
}

.GWASUI-btnText {
  font-size: 12px;
}

.GWASUI-cdBtnContainer {
  width: 100%;
  justify-content: center;
}

.GWASUI-align {
  margin: auto;
  padding: 5px;
}

.GWASUI-cdNameInput {
  width: 600px;
}

.GWASUI-btnEnable {
  background-color: rgb(24, 144, 255);
  color: white;
  transition: all 0.5s ease-in-out;
}

.cd-flex {
  display: flex;
}

.GWASUI-cdList, .GWASUI-align {
  flex: 1
}

.GWASUI-cdBtn {
  margin: 7px 7px;
  height: 45px;
}

.GWASUI-spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px;
}

.GWASUI-emptyTable {
  height: 400px;
}

.GWASUI-emphText {
  font-style: italic;
  text-decoration: underline;
}

.GWASUI-label {
  margin: 5px;
  padding: 2px;
  width: auto;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.GWASUI-attritionTable {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.GWASUI-attritionRow .ant-collapse {
  width: 100%;
  display: none;
}

.GWASUI-attritionTableHeader {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.GWASUI-attritionTableHeader .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-container .ant-table-content table .ant-table-tbody {
  display: none;
}
.GWASUI-smCell {
  width: 31%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.GWASUI-mdCell {
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 16px;
}

.GWASUI-leftAttr {
  display: flex;
  flex-direction: row;
  margin: 0 0 20 0;
  width: 100%;
  align-items: left;
  flex: 3;
}

.GWASUI-rightAttr {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: right;
  flex: 7;
}
