.steps-content {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  background-color: #fafafa;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.steps-action {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ant-btn {
  width: auto;
}

.GWASUI-mainTable {
  min-width: 400px;
  padding: 0 8px;
  border: 1px solid #e9e9e9;
}

.GWASApp-jobStatus {
  margin-bottom: 16px;
  min-width: 800px;
}

.GWASUI-navBtn {
  width: 150px;
}

.GWASUI-specifyTable {
  padding: 8px;
  border: 1px solid #e9e9e9;
}

.GWASUI-specifyTable__innerSpace {
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
}

.GWASUI-specifyTable__formItem {
  width: 200px;
  padding-bottom: 0;
  margin-bottom: 0;
  align-items: center;
}

.GWASUI-specifyTable__formItem > .ant-form-item-control {
  align-items: center;
  text-align: center;
}

.GWASUI-mainArea {
  min-width: 600px;
  padding: 8px;
  border: 1px solid #e9e9e9;
}

.GWASUI-selectedCohort {
  color: var(--g3-color__base-blue);
}


.GWASUI-selectInstruction {
  color: var(--g3-color__base-blue);
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding-right: 8rem;
  padding-left: 8rem;
}

.GWASUI-searchInput {
  align-items: center;
  width: 240px;
  border-radius: 2px;
  padding: 10px;
  font-size: 14px;
  font-style: italic;
}

.GWASUI-typeSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.GWASUI-typeTitle {
  float: relative;
}

.ant-select-selector, .ant-select-selection-item, .ant-input, .ant-input-disabled {
  background-color: white;
  color: black;
}

.ant-select-inline-collapsed-tooltip {
  display: none;
}

.GWAS-headingContainer {
  clear: both;
  width: 450px;
}

.GWAS-leftHeading {
  float: left;
}

.GWAS-rightHeading {
  float: right;
}

.GWAS-leftHeading, .GWAS-rightHeading {
  border: 1px solid gray;
  color: white;
  background-color: rgb(24, 144, 255);
  padding: 3px;
  border-radius: 2px;
}

.GWAS-btnContainer {
  display: flex;
  float: left;
  padding: 2px;
}

.ant-modal-footer {
  height: 80px;
}

.ant-modal-body {
  width: 600px;
}

.ant-modal-content {
  width: 600px;
}

.GWASApp-jobStatus .ant-collapse {
  width: 100%;
}

.ant-list-items {
  content: center;
}

.GWASUI-flexRow {
  display: flex;
  width: 650px;
}

.GWASUI-navRow {
  display: flex;
  flex-direction: row;
}

.GWASUI-title {
  color: white;
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
}
.GWASUI-headerColor {
  background-color: rgb(24, 144, 255);
}

.GWASUI-flexHeader1 {
  border-right: 1px solid lightgray;
}

.GWASUI-flexHeader2 {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.GWASUI-rowItem {
  border-bottom: 1px solid lightgray;
  align-items: center;
}

.GWASUI-flexCol {
  flex: 2;
  padding: 10px;
  margin: 10px;
}

.GWASUI-listItem {
  padding: 3px;
}

.GWASUI-submitContainer {
  margin-left: auto;
  margin-top: 20px;
}

.GWASUI-nameInput {
  padding: 5px;
  margin-right: auto;
  margin-top: 20px;
}
