.guppy-explorer-visualization__table {
  margin-top: 20px;
  width: 100%;
}

.guppy-explorer-visualization__summary-cards {
  margin-top: 10px;
  margin-bottom: 6px;
}

.guppy-explorer-visualization__charts {
  margin-bottom: 6px;
  background-color: var(--g3-color__white);
}

.guppy-explorer-visualization__connected-filter--hide {
  display: none;
}

.guppy-explorer-visualization__top {
  display: flex;
  justify-content: space-between;
}

.guppy-explorer-visualization__view-group > button {
  background-color: transparent;
  border: none;
  color: var(--g3-color__base-blue);
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: capitalize;
  width: auto;
}

.guppy-explorer-visualization__view-group > button.active,
.guppy-explorer-visualization__view-group > button:hover {
  color: var(--g3-color__highlight-orange);
}

/* Less than tablet width */
@media (max-width: 819px) {
  .guppy-explorer-visualization__button-group {
    display: none;
  }
}

/* Overrides */
.recharts-tooltip-wrapper {
  z-index: 1000;
}

.g3-single-select-filter__label {
  word-break: break-all;
}

.guppy-explorer-visualization__charts > .summary-chart-group {
  flex-wrap: wrap;
}

.guppy-explorer-visualization__charts
  > .summary-chart-group
  > .summary-chart-group__column {
  flex: 1 1 50%;
  min-width: 400px;
  margin: 0 auto;
}

.guppy-explorer-visualization__charts
  > .summary-chart-group
  > .summary-chart-group__column
  > .summary-chart-group__column-left-border {
  display: none;
}

/* Less than tablet width */
@media (max-width: 819px) {
  .guppy-explorer-visualization__charts
    > .summary-chart-group
    > .summary-chart-group__column {
    min-width: 100%;
  }
}
