.guppy-explorer-visualization__table {
  margin-top: 20px;
  width: 100%;
}

.guppy-explorer-visualization__summary-cards {
  margin-top: 10px;
  margin-bottom: 6px;
}

.guppy-explorer-visualization__charts {
  margin-bottom: 6px;
  background-color: var(--g3-color__white);
}

.guppy-explorer-visualization__connected-filter--hide {
  display: none;
}

.guppy-explorer-visualization__top {
  display: flex;
  justify-content: space-between;
}

.guppy-explorer-visualization__view-group > button {
  background-color: transparent;
  border: none;
  color: var(--g3-color__base-blue);
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  text-transform: capitalize;
  width: auto;
}

.guppy-explorer-visualization__view-group > button.active,
.guppy-explorer-visualization__view-group > button:hover {
  color: var(--g3-color__highlight-orange);
}

/* Overrides */
.recharts-tooltip-wrapper {
  z-index: 1000;
}

.g3-single-select-filter__label {
  word-break: break-all;
}
