.guppy-explorer-visualization__table {
  margin-top: 20px;
  width: 100%;
}

.guppy-explorer-visualization__summary-cards {
  margin-top: 10px;
  margin-bottom: 6px;
}

.guppy-explorer-visualization__charts {
  margin-bottom: 6px;
}

/* Overrides */
.recharts-tooltip-wrapper {
  z-index: 1000;
}

.g3-single-select-filter__label {
  word-break: break-all;
}
