.GWASUI-column.transformation-dropdown-label {
  max-width: 30%;
  padding-top: 10px;
  padding-bottom: 5px;
}

.GWASUI-column.transformation-select {
  max-width: 60%;
  padding-bottom: 10px;
}

label[for='input-minOutlierCutoff'],
label[for='input-maxOutlierCutoff'] {
  margin-top: 3px;
}

.GWASUI-row.outlier-inputs {
  margin-top: -8px;
}

.recharts-text.xAxisLabel tspan:nth-child(1) {
  font-weight: bold;
  fill: black;
}
