.top-message-banner {
  margin-top: 10px;
  display: flex;
}

.top-message-banner__space-column {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.top-message-banner__text-column {
  width: 80%;
  padding-left: 20px;
  display: flex;
  align-items: center;
  white-space: pre-wrap;
}

.top-message-banner__button{
  margin-right: 20px;
  background-color: var(--g3-color__white);
  border-top: 1px solid var(--g3-color__silver);
  text-align: center;
  display: inline;
}

.top-message-banner__text-wrapper {
  flex-flow: row;
  flex-wrap: wrap;
}

.top-message-banner__bold-text {
  font-size: 14px;
  font-weight: var(--g3-font__semi-bold-weight);
  color: var(--g3-color__black);
}

.top-message-banner__normal-text {
  font-size: 14px;
  color: var(--g3-color__gray);
}