.checkbox {
  padding: 1em 0em;
  border-bottom: 2px solid #7d7474;
  margin-bottom: 0;
  margin-top: 0;
}

.checkbox:last-child {
  border-bottom: 0;
}

.checkbox__label {
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0px;
  max-width: 12vw;
  overflow: hidden;
  padding: 0px 0.25rem;
  margin-left: 0.3rem;
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  vertical-align: middle;
  line-height: 1.75;
  display:inline-block;
}
