.emailSignUpForm {
  position: relative;
  background: var(--g3-color__white);
  border: 1px solid var(--g3-color__silver);
  border-radius: 5px;
  padding: 1.3em 1em 1em;
  max-width: 500px;
  margin: 0 auto;
}

.emailSignUpForm label {
  display: block;
  padding-bottom: 10px;
}

.emailSignUpForm label > span {
  font-weight: bold;
}
