.emailSignUpForm {
  position: relative;
  background: var(--g3-color__white);
  border: 1px solid var(--g3-color__silver);
  border-radius: 5px;
  padding: 1.3em 1em 1em;
  max-width: 500px;
}

.ant-form {
  position: relative;
}

.ant-alert {
  display: none;
  margin: 1em 0;
}

.spinner {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.formState_loading .spinner {
  display: block;
}

.ant-alert-success,
.ant-alert-error{
  display: block;
}
