.file-type-picture {
  background-color: white;
  border: 1px solid silver;
  border-radius: 10px;
  text-align: center;
}

.file-type-picture__icon {
  display: table;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
