.filter-display .pill-container {
  display: inline-block;
  background-color: var(--g3-color__bg-cloud);
  border: 1px solid var(--g3-color__lightgray);
  border-radius: 4px;
  padding: 1px 4px;
  margin: 2px;
}

.filter-display button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: inherit;
  height: inherit;
  width: inherit;
  vertical-align: baseline;
  font-size: inherit;
}

.filter-display .pill {
  letter-spacing: normal;
}

.filter-display .close {
  border-left: 1px solid var(--g3-color__lightgray);
  border-radius: 0;
  padding: 0 4px;
  height: 100%;
}

.filter-display .pill-container > .close > i {
  background-color: var(--g3-color__gray);
  width: 0.5rem;
  height: 0.5rem;
}

/* Tablet width and less */
@media screen and (max-width: 820px) {
  .filter-display .pill {
    font-size: 12px;
  }
}

.filter-display .pill > * {
  border-right: 1px solid var(--g3-color__lightgray);
  padding: 2px 4px;
  margin: 0 2px;
}

.filter-display .pill > *:last-child {
  border-right: none;
}

.filter-display .pill code {
  background-color: inherit;
}
