.filter-display button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: inherit;
  height: inherit;
  width: inherit;
  vertical-align: baseline;
  font-size: inherit;
}
