@import '~@gen3/ui-component/dist/css/base.css';

.index-button-bar {
  display: flex;
  padding: 40px 0 0 0;
  flex-flow: wrap;
  justify-content: center;
}

@media screen and (max-width: 1170px) {
  .index-button-bar {
    width: 80%;
  }
}

.index-button-bar__thumbnail-button {
  background-color: white;
  display: inline-block;
  height: 360px;
  padding: 20px 20px;
  text-align: center;
  width: 290px;
  margin: 20px 20px;
  border: 1px solid var(--g3-color__silver);
  border-radius: 4px;
  position: relative;
}

.index-button-bar__thumbnail-title {
  margin-bottom: 15px;
}

.index-button-bar__thumbnail-text {
  margin-top: 30px;
  border-top: 1px solid #e7e7e7;
  padding: 10px 10px;
  text-align: left;
}

.index-button-bar__icon {
  vertical-align: middle;
  padding-left: 4px;
}

.index-button-bar__item {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 30px;
  width: fit-content;
}
