.introduction {
  width: 450px;
  position: relative;
}

.introduction__title {
  margin-bottom: 25px;
  line-height: 1.0em;
}

.introduction__text {
  padding: 10px 0px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.introduction__icon {
  marginLeft: auto;
  marginRight: auto;
  marginBottom: 75px;
}
