.error-placeholder__error-msg {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 40px;
  min-height: calc(100vh - 242px);
}

.error-placeholder__error-msg_no_header_footer {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 40px;
  min-height: calc(100vh - 242px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: var(--g3-color__bg-cloud);
}
