.pill-container {
  display: inline-block;
  background-color: var(--g3-color__bg-cloud);
  border: 1px solid var(--g3-color__lightgray);
  border-radius: 4px;
  padding: 1px 4px;
  margin: 2px;
}

.pill-container button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: inherit;
  height: inherit;
  width: inherit;
  vertical-align: baseline;
  font-size: inherit;
}

.pill {
  margin-left: 4px;
  letter-spacing: normal;
}

.pill-container .close {
  border-left: 1px solid var(--g3-color__lightgray);
  border-radius: 0;
  padding: 0 4px;
  margin-left: 4px;
  height: 100%;
}

.pill-container > .close > i {
  background-color: var(--g3-color__gray);
  width: 0.5rem;
  height: 0.5rem;
}

/* Tablet width and less */
@media screen and (max-width: 820px) {
  .pill {
    font-size: 12px;
  }
}

.pill > * {
  border-right: 1px solid var(--g3-color__lightgray);
  padding: 2px 4px;
  margin: 0 2px;
}

.pill > *:last-child {
  border-right: none;
}

.pill code {
  background-color: inherit;
}
