.query-display .pill {
  background-color: var(--g3-color__bg-cloud);
  border: 1px solid var(--g3-color__lightgray);
  border-radius: 4px;
  padding: 4px;
  margin: 2px;
  line-height: 2rem;
}

/* Tablet width and less */
@media screen and (max-width: 820px) {
  .query-display .pill {
    font-size: 12px;
  }
}

.query-display .pill.anchor {
  padding: 8px 4px;
  line-height: 2.2rem;
}

.query-display .pill > * {
  border-right: 1px solid var(--g3-color__lightgray);
  padding: 2px 4px;
  margin: 0 2px;
}

.query-display .pill > *:last-child {
  border-right: none;
}

.query-display .pill code {
  background-color: inherit;
}
