.simple-input-field__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  margin-bottom: 30px;
}

.label-screen-reader-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.simple-input-field__container--label-top {
  flex-direction: column;
}

.simple-input-field__label {
  text-align: right;
  margin-right: 10px;
  width: 20%;
}

.simple-input-field__input {
  flex-grow: 1;
  border: 1px solid  var(--g3-color__lightgray);
  border-radius: 6px;
  padding: 2px;
  background-color: white;
}

.simple-input-field__input > *:disabled {
  cursor: not-allowed;
}

.simple-input-field__input > input,
.simple-input-field__input > textarea {
  border: none;
  color: #333;
  font-family: inherit;
  font-size: inherit;
  height: var(--pcdc-input-height);
  outline-color: var(--pcdc-color__primary);
  overflow: hidden;
  width: 100%;
}

.simple-input-field__input > input[type='file'] {
  border: none;
}

.simple-input-field__input > textarea {
  resize: none;
  min-height: 72px;
  padding: 10px;
  overflow: scroll;
}

.simple-input-field__input--error > input,
.simple-input-field__input--error > textarea {
  border-color: red;
}

.simple-input-field__error-message {
  position: absolute;
  right: 0px;
  bottom: -20px;
  color: red;
  font-size: 0.8rem;
  font-family: inherit;
  text-align: left;
  height: 20px;
}
