.sticky-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 3px solid black;
  background-color: var(--g3-color__bg-cloud);
}

.sticky-toolbar--scrolling {
  position: fixed;
  margin-bottom: 20px;
  z-index: 10;
  top: 0;
  left: 20px;
  right: 20px;
}

.sticky-toolbar__elts > * {
  margin: 0 10px;
}

.sticky-toolbar__elts:last-child {
  margin: 0 0;
}
