@import '~@gen3/ui-component/dist/css/base.less';

.toaster__div {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 130px;
  background-color: var(--g3-color__bg-coal);
  padding: 15px 30px;
}

.toaster__div-text {
  color: var(--g3-color__white);
  margin-right: 20px;
  width: unset;
  font-size: medium;
}

.toaster__button {
  margin-right: 10px;
}