@import '../../../css/base.less';

.filter-group {
  display: flex;
  flex-flow: column;
}

.filter-group__tabs {
  display: flex;
}

.filter-group__tab {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid @silver;
  border-radius: 12px 12px 0px 0px;
  height: 28px;
  background-color: @white;
}

.filter-group__tab-title {
  padding: 0 10px;
}
