@font-face{
    font-family: 'regular';
    src: url('MADE-Evolve-Sans-Regular.woff') format('woff');
}
/* General classes */
.error {
    color: #ff5858;
    font-size: 150%;
}
.icon-logo {
    width: 50%;
    min-width: 100px;
}
.table-full{
    width: 100%;
}
.page-title{
    font-size: 38px;
    text-align: center;
    position: absolute;
    z-index: 1;
    padding-bottom: 5px;
    /* background-color: #002c66; */
    background-color: black;
    font-weight: bold;
    width: 100%;
}
.bolded-text {
    color: rgb(201, 134, 212);
}
.span-center-align {
    text-align: center;
}
.span-left-align {
    text-align: left;
}
.right-align {
    text-align: right;
    position: absolute;
    right: 10px;
    margin: 5px;
    display: inline;
}
.left-align {
    text-align: left;
    position: absolute;
    margin: 5px;
    display: inline;
}
.space {
    padding: 10px;
    margin: 1px;
}
.g-signin2 {
    width: 100%;
}
.medium-title {
    font-size:15px;
	font-weight:bold;
}
.load-json-button {
	background:linear-gradient(to bottom, #e8dbff 5%, #d7bde6 100%);
	background-color:#e8dbff;
	border:1px solid #3b3b3b;
	display:inline-block;
	cursor:pointer;
	color:#442857;
	font-family:Arial;
	font-size:15px;
    font-weight:bold;
    min-width: 100px;
	padding:6px 24px;
	text-decoration:none;
}
.load-json-button:hover {
	background:linear-gradient(to bottom, #d7bde6 5%, #e8dbff 100%);
	background-color:#d7bde6;
}
.load-json-button:active {
	position:relative;
	top:1px;
}
.long-input{
    width: 20%;
    padding: 4px 12px;
    margin: 8px 0;
}

input[type=text] {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
  }

/* Map */
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: block;
}
/* County popup information */
.map-info-box{
    color: rgb(30, 30, 30);
    font-size: 12px;
}
.map-info-box-title {
    color: rgb(85, 0, 85);
    font-size: 18px;
}

.map-info-box-title-mini {
    color: rgb(85, 0, 85);
    font-size: 8px;
}

.risk-low {
    color: rgb(50, 150, 50);
    font-size: 14px;
}
.risk-med {
    color: rgb(150, 150, 50);
    font-size: 16px;
}
.risk-high {
    color: rgb(200, 50, 50);
    font-size: 18px;
}
/* Time slider bar */
.map-slider {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 50%;
    min-width: 150px;
    max-width: 500px;
    bottom: 30px;
    right: 0;
    padding: 10px;
}
.map-slider .map-overlay-inner {
    /* background-color: rgba(77, 0, 102, 0.7); */
    background-color: black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    visibility: hidden;
}
.map-slider input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}
.map-slider h2 {
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
}
.search-box-container {
    /* background-color: rgba(77, 0, 102, 0.7); */
    background-color: black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    position: absolute;
    padding: 10px;
    top: 50px;
    width: 350px;
    min-width: 110px;
    max-height: 300px;
    right: 0;
    margin: 10px;
    display:inline-flex;
}
.search-box-container .search-results{
    padding: 2px;
    text-align: center;
    margin-left: 10px;
}

.search-box-container input{
    padding: 2px;
}

.info-table-container {
    /* background-color: rgba(77, 0, 102, 0.7); */
    background-color: black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    position: absolute;
    padding: 10px;
    top: 150px;
    width: 15%;
    min-width: 110px;
    right: 0;
    margin: 10px;
    display:none;
}

.info-table-container .info-table {
width: 100%;
text-align: center;
border: 0.5px solid;
border-color: white;
}
.info-table-container .info-table , th {
    border-bottom: 0.5px solid;
}

.info-table-container .no-strain {
    text-align: center;
    display: block;
    /* padding: 2%; */
    border: 0.5px solid;
}

/* Density Color overlay */
.map-overlay-color {
    /* background-color: rgba(77, 0, 102, 0.7); */
    background-color: black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    position: absolute;
    padding: 10px;
    bottom: 170px;
    width: 15%;
    min-width: 110px;
    max-width: 250px;
    right: 0;
    margin: 10px;
}
.map-overlay-color .legend .bar {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #ff8bc5, #c00000);
}
/* Side menu */
.map-side-menu {
    /* background-color: rgba(77, 0, 102, 0.7); */
    background-color: black;
    height: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    top: 0;
    left: 0;
    width:300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 60px;
    transition: 0.5s;
}

.map-side-menu::-webkit-scrollbar {
    display: none;
}
.map-side-interface-button {
    /* background-color: rgba(77, 0, 102, 0.7); */
    background-color: black;
    width: 25px;
    height: 30px;
    top: 55px;
    left: 300px;
    position: fixed;
    transition: 0.5s;
}
.map-side-interface-button:hover {
    background-color: rgba(147, 1, 196, 0.7);
    /* background-color: white; */
}

.arrow {
    /* border: solid rgb(240, 180, 255); */
    border: solid white;
    margin-top: 7px;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
}

.right-arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left-arrow {
    margin-left: 7px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.map-side-menu-title {
    font-size: 36px;
    font-weight: bold;
}
.map-side-menu-content {
    margin: 10px;
    font-size: 18px;
    text-align: left;
}
/* Modals */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.message-modal-content {
    z-index: 10;
    position: fixed;
    bottom: 0;
    /* background-color: #4d0066; */
    background-color: black;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}
.modal-footer {
    padding: 2px 16px;
    /* background-color: #4d0066; */
    background-color: black;
    color: rgb(199, 199, 199);
}
.modal-content {
    background-color: #fefefe;
    font-family: regular;
    font-weight: normal;
    font-style: normal;
    min-width: 200px;
    color: #161316;
    margin: 15% auto;
    border: 1px solid #888;
    width: 25%;
}
.modal-body {
    padding: 16px;
    color: #161316;
}
.modal-header {
    padding: 2px 16px;
    background-color: #834b8f;
    color: white;
}
.modal-title {
    color: #161316;
    padding: 20px;
    text-align: center;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.close-footer {
    color: rgb(199, 199, 199);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close-footer:hover, .close:focus {
    color: rgb(143, 143, 143);
    text-decoration: none;
    cursor: pointer;
}
/* Tabs */
.tab-buttons {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab-buttons button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab-buttons button:hover {
    background-color: #ddd;
}
.tab-buttons button.active {
    background-color: #ccc;
}
.tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeIn 0.5s;
}
/* animation css */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}
@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}
@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
/* regular tags */
html, body {
    height: 100%;
    width: 100%;
}
body{
    background-color: #684f77;
    font-family: regular;
    font-weight: normal;
    font-style: normal;
    color: #ffebfc;
    margin: 0;
    padding: 0;
    display: block;
}
