.atlas-data-dictionary-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  height: auto;
  overflow-y: hidden;
}

.atlas-data-dictionary-container .no-data-found {
  text-align: center;
}

.atlas-data-dictionary-container table tbody tr:nth-child(4n + 3) {
  background-color: #fafafb;
}

.atlas-data-dictionary-container table thead.search-bar {
  background: #cfdbe6;
}

/* Column and Entries Headers */
.atlas-data-dictionary-container table thead.column-headers {
  background: #e9eef2;
}

.atlas-data-dictionary-container table thead.column-headers th {
  line-height: 1.2;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.atlas-data-dictionary-container table caption.entries-header th {
  cursor: default;
  font-weight: normal;
  font-size: 12px;
}

.atlas-data-dictionary-container .column-header th:hover {
  background-color: #f5f5f5;
}

.atlas-data-dictionary-container table caption.entries-header {
  background-color: #cfdbe6;
  color: black;
  padding: 8px 0 7px 10px;
  width: 100%;
  font-size: 12px;
  font-family: inherit;
  user-select: inherit;
}

.atlas-data-dictionary-container table caption.entries-header th:hover {
  background-color: #cfdbe6;
}

.atlas-data-dictionary-container .table-column-sorters {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: space-between;
}

.atlas-data-dictionary-container th.not-sortable:hover {
  background-color: inherit;
  cursor: inherit;
}

.atlas-data-dictionary-container .table-column-sorter-inner {
  padding-left: 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.atlas-data-dictionary-container .table-column-sorter-inner span {
  font-size: 11px;
  line-height: 0;
  display: inline-block;
}

.atlas-data-dictionary-container .table-column-sorter-down {
  margin-top: 4px;
}

.atlas-data-dictionary-container .table-column-sorter-down svg path,
.atlas-data-dictionary-container .table-column-sorter-up svg path {
  fill: #ccc;
}

.atlas-data-dictionary-container .table-column-sorter-down.active svg path,
.atlas-data-dictionary-container .table-column-sorter-up.active svg path {
  fill: #1890ff;
}

/* Expandable rows */
.atlas-data-dictionary-container tr.expandable > td:first-child {
  padding: 0;
}

.atlas-data-dictionary-container tr td div.expandable {
  max-height: 0;
  overflow: hidden;
  height: 0;
  transition: height 0.3s, max-height 0.3s;
}

.atlas-data-dictionary-container tr td div.expandable.expanded {
  max-height: 321px;
  height: 321px;
  background: #e2e2e3;
}

.atlas-data-dictionary-container .expanded-container {
  background: #fff;
  height: 290px;
  padding: 16px;
  margin: 16px;
  overflow-y: auto;
}

.atlas-data-dictionary-container .chart-details-wrapper {
  background: #fff;
}

.atlas-data-dictionary-container
.chart-details-wrapper.expanded-container.search-highlight {
  background: #fff;
  border: 2px solid #ef8523;
}

.atlas-data-dictionary-container .td-container {
  width: 80%;
  word-wrap: break-word;
}

.atlas-data-dictionary-container .search-highlight,
table > tbody > tr > td.search-highlight:last-of-type {
  background: #fcefe4;
  background: linear-gradient(
    to right,
    #ef8523,
    #ef8523 2px,
    #fcefe4 2px,
    #fcefe4 80%,
    transparent 80%,
    transparent
  );
}

.atlas-data-dictionary-container .search-highlight,
table > tbody > tr > td.preview-chart {
  min-width: 145px;
}

/* Search Bar */
.atlas-data-dictionary-container .search-bar {
  background: #cfdbe6;
}

.atlas-data-dictionary-container .search-bar-container {
  width: 425px;
  padding: 6px 0 6px 0;
}

.atlas-data-dictionary-container .search-bar-input-control {
  display: block;
  cursor: pointer;
  font-size: 15px;
  width: 15px;
  height: 15px;
  color: white;
  border-radius: 7px;
  border: none;
  background: #adb5bd;
  line-height: 0;
  text-align: center;
  opacity: 70%;
  padding-bottom: 2px;
}

/* Pagination */
.atlas-data-dictionary-container .pagination-wrapper button {
  width: unset;
  transform: scale(0.9);
  padding: 0;
}

.atlas-data-dictionary-container .pagination-container {
  width: 450px;
  margin-left: auto;
}

.atlas-data-dictionary-container .pagination-container div {
  float: right;
  color: #333333;
  font-size: 12px;
}

.atlas-data-dictionary-container .entries-quantity-select select {
  margin: 0 8px 0 5px;
  background-color: #fff;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  width: 44px;
  text-align: center;
}
