@import '~@gen3/ui-component/dist/css/base.less';

.filter-list {
  width: 100%;
  border-bottom: 1px solid @silver;
  border-left: 1px solid @silver;
  border-right: 1px solid @silver;
  border-radius: 4px;
  background-color: @white;
}
