* {
    box-sizing: border-box;
    padding: 0px;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
    /* background-image: url('../img/bg.jpg'); */
    /* background-size: cover; */
    min-height: 100%;
<<<<<<< HEAD
    /* position: relative; */
=======
    position: relative;
>>>>>>> fix(improvement): add explorer page
}

.flat-form{
    margin:auto;
    display: block;
    margin-top: 200px;
    width:500px;
    background: #9aa5d8;
    padding: 30px;
}
small {
    color: white;
    padding: 0;
    display: block;
}
.logo-wrapper {
    margin-bottom: 20px;
}
.logo-wrapper p {
    display: inline;
    font-size: 25px;
    color: white;
}
.error.btn:hover {
    background-color: #f1c40f;
    cursor: auto;

}
ul {
    list-style-type: none;
    margin-bottom: 0em;
}

.button-inline {
    background-color: #34ADDB;
    padding: 5px 10px;
}
.right {
    display: inline-block;
    float:right;
}

.Select.is-open {
    z-index: 99 !important;
}