* {
    box-sizing: border-box;
    padding: 0px;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
    /* background-image: url('../img/bg.jpg'); */
    /* background-size: cover; */
    min-height: 100%;
    position: relative;
}

.flat-form{
    margin:auto;
    display: block;
    margin-top: 200px;
    width:500px;
    background: #9aa5d8;
    padding: 30px;
}
small {
    color: white;
    padding: 0;
    display: block;
}
.logo-wrapper {
    margin-bottom: 20px;
}
.logo-wrapper p {
    display: inline;
    font-size: 25px;
    color: white;
}
.error.btn:hover {
    background-color: #f1c40f;
    cursor: auto;

}
ul {
    list-style-type: none;
    margin-bottom: 0em;
}

.button-inline {
    background-color: #34ADDB;
    padding: 5px 10px;
}
.right {
    display: inline-block;
    float:right;
}

.Select.is-open {
    z-index: 99 !important;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}