@explorer-table-bar-color: white;

.explorer-tab-panel {
  flex-basis: 80%;
  flex-grow: 1;
}

.explorer-tab-panel__tab {
  z-index: 1;
  position: relative;
}

.explorer-tab-panel__tab-item {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  font-size: 15px;
  outline: none;
}

.explorer-tab-panel__tab-item--active {
  background-color: white;
  border: 2px solid #a9a9a9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.explorer-tab-panel__tab-box--inactive {
  display: none;
}

.explorer-tab-panel__tab-box--active {
  display: block;
}

.explorer-tab-panel__frame {
  display: inline-block;
  position: relative;
  margin-top: -1px;
  margin-left: 0;
  background: @explorer-table-bar-color;
  width: 100%;
  border: 2px solid #a9a9a9;
}