@explorer-table-bar-color: white;

.explorer-side-bar {
  float: left;
  width: 25%;
  font-size: 15px;
  background: @explorer-table-bar-color;
  margin-right: 2em;
  padding: 0 2em;
  border: 2px solid #a9a9a9;
  border-radius: 5px;
}
