.control-panel {
  // position: absolute;
  // top: 240px;
  // right: 0;
  max-width: 200px;
  height: fit-content;
  // background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 6px;
  margin-right: 10px;
  // font-size: 13px;
  // line-height: 2;
  // color: #6b6b76;
  // outline: none;
  // float: left;
  // display: flex;
  // flex-direction: column;
  // z-index: 2;
}
