/* GWAS App */

.GWASApp {
  .GWASUI-navBtn:not([disabled]) {
    background: #194C90;
    border-color: #194C90;
  }

  .GWASUI-navBtn:not([disabled]):hover,
  .GWASUI-navBtn:not([disabled]):focus {
    background: #2466AC;
    border-color: #2466AC;
  }

  .euler-diagram-controls  .ant-btn-primary:not([disabled]):focus {
    background: #194C90;
    border-color: #194C90;
  }
}
