/* GWAS App */

.gwas-modal {
  .ant-btn-primary:not([disabled]) {
    background: #194C90;
    border-color: #194C90;
  }

  .ant-btn-primary:not([disabled]):hover,
  .ant-btn-primary:not([disabled]):focus {
    background: #2466AC;
    border-color: #2466AC;
  }

  .ant-btn-default {
    color: #194C90;
    border-color: #194C90;
  }

  .ant-btn-default:hover,
  .ant-btn-default:focus {
    color: #2466AC;
    border-color: #2466AC;
  }
}

.GWASApp {
  .GWASUI-navBtn:not([disabled]) {
    background: #194C90;
    border-color: #194C90;
  }

  .GWASUI-navBtn:not([disabled]):hover,
  .GWASUI-navBtn:not([disabled]):focus {
    background: #2466AC;
    border-color: #2466AC;
  }

  .euler-diagram-controls  .ant-btn-primary:not([disabled]):focus {
    background: #194C90;
    border-color: #194C90;
  }
}
