@import '../../css/base.css';

.top-bar-button.body {
  color: var(--g3-color__white);
  margin: auto 20px;
  width: auto;
  display: flex;
  align-items: baseline;
}

.top-bar-button--active, .top-bar-button:hover {
  border-bottom: 1px solid var(--g3-color__white);
}

.top-bar-button__icon {
  background-color: white;
  margin-left: 5px;
  width: 12px;
  height: 12px;
}
