.ant-btn {
  width: auto;
}

.GWASApp-jobStatus {
  width: 100%;
  margin-bottom: 16px;
  min-width: 800px;
}

.ant-select-selector,
.ant-select-selection-item,
.ant-input,
.ant-input-disabled {
  background-color: white;
  color: black;
}

.ant-select-inline-collapsed-tooltip {
  display: none;
}

.ant-collapse {
  margin-bottom: 10px;
}

.GWASApp-jobStatus .ant-collapse {
  width: 100%;
}

.ant-list-items {
  content: center;
}

.GWASUI-flexRow {
  display: flex;
  width: 650px;
}

.GWASUI-spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px;
}
