.base-table {
  min-height: 300px;
  overflow-x: auto;
}

.base-table__filter-field {
  margin: 0 !important;
}

.base-table__body {
  border-collapse: collapse;
  overflow: scroll;
  margin: 1em 0;
  text-align: left;
  width: 100%;
}

.base-table__head {
  height: 36px;
  border-top: 2px solid #000000;
  border-bottom: 1px solid #dedede;
}

.base-table__column-head {
  position: relative;
  max-width: 300px;
  letter-spacing: 0.02rem;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.base-table__row {
  padding: 0 0;
  border-bottom: 1px solid #dedede;
  background-color: #ffffff;
  color: var(--g3-color__gray);
  height: 60px;
  font-size: 14px;
}

.base-table__row--stripe-color:nth-child(even) {
  background-color: #f5f5f5;
}

.base-table__cell {
  padding: 0.5rem 1rem;
}

.base-table__cell-list-value {
  display: inline;
  list-style: none;
}

.base-table__cell-list-value li {
  display: inline;
}

.base-table__cell-list-value li:after {
  content: ", ";
}

.base-table__cell-list-value li:last-child:after {
  content: "";
}

.base-table__filter-field {
  min-width: 200px;
}
