.gwasv2-attrition-table .ant-collapse-header {
  background: #cfdbe6;
}

.gwasv2-attrition-table .ant-collapse-expand-icon svg {
  display: none;
}
.gwasv2-attrition-table .ant-collapse-expand-icon {
  background: #2e77b8;
  border-radius: 16px;
  color: white;
  height: 18px;
  width: 18px;
  margin: 3px 10px 0;
  text-align: center;
}

.gwasv2-attrition-table
  .ant-collapse-header[aria-expanded="true"]
  .ant-collapse-expand-icon:before {
  content: "\2303";
  display: block;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
  margin-top: -1px;
}

/* Chevrons */
.gwasv2-attrition-table
  .ant-collapse-header[aria-expanded="false"]
  .ant-collapse-expand-icon:before {
  transform: rotate(180deg);
  display: block;
  content: "\2303";
  transition: all 0.1s ease-in-out;
  transform-origin: 7px 9px;
  margin: 1px 2px;
  font-size: 16px;
}
.gwasv2-attrition-table .ant-table-thead > tr > th {
  background: #e9eef2;
}

.gwasv2-attrition-table .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}

/* Table Cell Borders */
.gwasv2-attrition-table
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  display: none;
}

/* Cell Background Colors */
.gwasv2-attrition-table .ant-collapse-content-box div.GWASUI-covariateRow {
  background-color: #fafafb;
  border-top: 1px solid #e3e3e4;
}
.gwasv2-attrition-table
  .ant-collapse-content-box
  div.GWASUI-covariateRow:nth-child(2n) {
  background-color: white;
}

/* New Table */
.gwasv2-attrition-table table {
  width: 100%;
  padding: 0 16px;
}

.gwasv2-attrition-table table th,
.gwasv2-attrition-table table td {
  text-align: left;
  padding: 0 16px;
}
.gwasv2-attrition-table table tr {
  height: 32px;
}
.gwasv2-attrition-table table thead {
  background-color: #e9eef2;
  height: 40px;
}
