.user-information__container {
  margin-bottom: 4rem;
}

.user-information__field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.user-information__field .simple-input-field__container {
  margin: 0.5rem 1rem;
  width: 480px;
}

@media screen and (max-width: 820px) {
  .user-information__field .simple-input-field__container {
    min-width: 240px;
  }
}

.user-information__field .simple-input-field__label {
  width: 20%;
}

.user-information__field .simple-input-field__input {
  width: 70%;
}

@media screen and (max-width: 820px) {
  .user-information__field .user-information__button-group {
    display: none;
  }
}

.user-information__button-group > button {
  min-width: 88px;
  height: 36px;
  margin: auto 0.5rem;
}

.user-information__submit-message > svg {
  margin-right: 0.25rem;
}
