.g3-filter-group {
  display: flex;
  flex-flow: column;
}

.g3-filter-group__tabs {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin-bottom: 1rem;
}

.g3-filter-group__tab {
  background-color: var(--g3-color__silver);
  border: 1px solid var(--g3-color__silver);
  border-radius: 4px;
  cursor: pointer;
  color: var(--g3-color__gray);
  font-weight: var(--g3-font__semi-bold-weight);
  margin: 4px;
  padding: 4px 12px;
}

.g3-filter-group__tab--selected,
.g3-filter-group__tab:hover {
  background-color: var(--g3-color__white);
  color: var(--g3-color__coal);
}

.g3-filter-group__tab-title {
  border-bottom: 2px solid transparent;
  font-weight: var(--g3-font__semi-bold-weight);
  text-align: center;
}

.g3-filter-group__tab-title--has-active-filters {
  border-bottom: 2px solid var(--g3-primary-btn__bg-color);
}

.g3-filter-group__filter-area {
  min-width: 170px;
  background-color: var(--g3-color__white);
}

.g3-filter-group__collapse {
  line-height: 27px;
  background-color: var(--g3-color__white);
}

.g3-filter-group__collapse-link {
  text-decoration: underline;
  padding: 0 10px;
  border-right: 1px solid var(--g3-color__silver);
  font-size: 14px;
}

.g3-filter-group__collapse-link:last-child {
  border-right: none;
}
