/* Cards */
.GWASV2 .outcome-card {
  background: #cae6f1;
}

.GWASV2 .dichotomous-card {
  background: #ebfad3;
}

.GWASV2 .continuous-card {
  background: #fde3d6;
}

/* Buttons */
.GWASV2 .submit-button,
.GWASV2 .cancel-button {
  margin: 6px 0 12px auto;
  background-color: #2e77b8;
  color: white;
  border: none;
  border-radius: 4px;
  width: 152px;
  height: 40px;
  font-size: 0.875rem;
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.GWASV2 .submit-button:hover {
  background-color: var(--g3-secondary-btn__bg-color--hover);
}

.GWASV2 .submit-button[disabled] {
  background-color: rgba(46, 119, 184, 0.3);
  cursor: not-allowed;
}
.GWASV2 .custom-dichotomous-covariates button.cancel-button {
  margin-left: 20px;
}
.GWASV2 .custom-dichotomous-covariates button.cancel-button,
.GWASV2 .select-container button.cancel-button {
  color: #2e77b8;
  background: white;
  border: 1px solid #2e77b8;
  margin-right: 25px;
}
.GWASV2 .custom-dichotomous-covariates button.cancel-button:hover,
.GWASV2 .select-container button.cancel-button:hover {
  background-color: var(--g3-secondary-btn__bg-color--hover);
  color: white;
}
/* Continous Covariate Selection */
.GWASV2 .phenotype-histogram {
  padding-left: 30px;
  margin-top: 8px;
  width: 600px;
}

.GWASV2 .continuous-covariates .continous-covariates-table {
  width: 400px;
}

.GWASV2 .continuous-covariates .select-covariates-container .ant-select,
.GWASV2
.continuous-covariates
.select-covariates-container
.ant-select-dropdown {
  width: 100%;
  min-width: inherit;
}

.GWASV2
.continuous-covariates
.ant-table.ant-table-middle
.ant-table-tbody
> tr
> td {
  padding: 5px 8px;
}

.GWASV2 .continuous-covariates-button-container {
  display: block;
  float: right;
  height: 36px;
}

.GWASV2 .phenotype-histogram .recharts-wrapper {
  margin-top: 60px;
}
.GWASV2 .phenotype-histogram .histrogram-loading {
  margin-top: 80px;
  text-align: center;
  width: 600px;
}

.GWASV2 .phenotype-histogram-directions {
  float: left;
  margin-top: 50px;
  text-align: center;
  width: 600px;
}

/* Dichotomous Covariate Selection */
.custom-dichotomous-covariates .GWASUI-flexRow label {
  font-weight: bold;
  margin: 0 10px 0 auto;
  padding-top: 13px;
  color: #333;
}
.custom-dichotomous-covariates .GWASUI-flexRow input {
  width: 260px;
  margin-right: 10px;
  height: 40px;
  margin-top: 6px;
  border: 1px solid #dededf;
  border-radius: 4px;
  padding-left: 5px;
}

.GWASV2 .dichotomous-selection {
  width: 364px;
  margin-top: 10px;
}

.GWASV2 .dichotomous-selection h3 {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 16px;
}
.GWASV2 .cohorts-overlap-diagram {
  width: 600px;
  text-align: center;
  margin-top: 20px;
}
