.GWASV2 .continuous-covariates {
    width:950px;
}
.GWASV2 .submit-button {
    margin-left: 5px;
}
.GWASV2 .phenotype-histogram {
    padding-left: 30px;
    margin-top: 8px;
}

.GWASV2 .ant-select {
    width: 300px;
  }
