.analysis-app-wrapper {
  padding: 20px 20px;
}

.analysis-app {
  display: flex;
  flex-flow: column;
}

.analysis-app__title {
  line-height: 80px;
}

.analysis-app__description {
  margin: 10px 0;
}

.analysis-app__actions {
  display: flex;
  align-items: center;
}

.analysis-app__actions .Select {
  flex-basis: 50%;
  margin-right: 20px;
}

.analysis-app__job-status {
  display: flex;
  flex-flow: column;
  margin: 10px 0;
}
