.analysis__result-image {
  border-radius: 10px;
  margin-top: 2em;
  box-shadow: 0 0 5px #dfdfdf;
  padding: 20px 20px;
  background: white;
}

.analysis__job-status {
  margin-top: 1em;
  font-style: italic;
  animation: color-change 2s infinite;
}