.analysis {
  padding: 20px 20px;
}

.analysis__title {
  line-height: 80px;
}

.analysis-cards {
  display: flex;
  flex-flow: wrap;
}

@media screen and (max-width: 820px) {
  .analysis-cards {
    flex-flow: column;
    align-items: center;
  }
}

.analysis__app-card {
  display: flex;
  width: 33%;
}

@media screen and (max-width: 820px) {
  .analysis__app-card {
    width: 100%;
  }
}
