.user-registration__form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-registration__form button {
  margin: 0.5rem;
}

.user-registration__form h2 {
  margin-bottom: 1rem;
}

.user-registration__form p {
  margin-bottom: 0.5rem;
}

.user-registration__view-input svg,
.user-registration__view-error svg {
  margin-right: 0.25rem;
}

.user-registration__document-review-group {
  margin: 1rem;
  text-align: left;
}

.user-registration__document-review-group > * {
  display: block;
  margin-bottom: 0.5rem;
}

.user-registration__document-review-group input[type='checkbox'] {
  margin-right: 0.5rem;
}

.user-registration__subscribe {
  font-weight: bold;
  margin: 2rem 0 1rem;
}

.user-registration__subscribe input {
  margin-right: 10px;
}
