:root {
  --primary-color: #99286B;
  --secondary-color: #402264;

  --primary-color_light: #E0C4D2;
  --secondary-color_light: #C2BACD;

  --g3-color__bg-cloud: #F5F5F5;
  --g3-color__bg-coal: #4A4A4A;
  --g3-color__gray: #606060;
  --g3-color__lightgray: #9B9B9B;
  --g3-color__smoke: #D1D1D1;
  --g3-color__silver: #E7E7E7;
  --g3-color__black: #000000;
  --g3-color__white: #FFFFFF;

  --g3-primary-btn__color: var(--g3-color__white);
  --g3-primary-btn__bg-color: var(--secondary-color);
  --g3-primary-btn__bg-color--hover: var(--secondary-color_light);
  --g3-primary-btn__border-color: var(--g3-color__lightgray);
  --g3-primary-btn__border-color--hover: var(--g3-color__gray);
  --g3-primary-btn__border-color--active: var(--g3-color__lightgray);

  --g3-secondary-btn__color: var(--g3-color__white);
  --g3-secondary-btn__bg-color: var(--secondary-color);
  --g3-secondary-btn__bg-color--hover: var(--secondary-color_light);
  --g3-secondary-btn__border-color: var(--g3-color__lightgray);
  --g3-secondary-btn__border-color--hover: var(--g3-color__gray);
  --g3-secondary-btn__border-color--active: var(--g3-color__lightgray);

  --g3-default-btn__color: var(--g3-color__gray);
  --g3-default-btn__color--hover: var(--g3-color__black);
  --g3-default-btn__color--active: var(--g3-color_lightgray);
  --g3-default-btn__bg-color: var(--g3-color__white);
  --g3-default-btn__border-color: var(--g3-color__gray);
  --g3-default-btn__border-color--hover: var(--g3-color__black);

  --g3-disabled-btn__color: var(--g3-color__lightgray);
  --g3-disabled-btn__bg-color: var(--g3-color__white);
  --g3-disabled-btn__border-color: var(--g3-color__silver);

  --g3-dropdown-item__bg-color: var(--g3-color__gray);
  --g3-dropdown-item__color: var(--g3-color__white);
  --g3-dropdown-menu__border-color: var(--g3-color__gray);

  --g3-footer-color: var(--g3-color__bg-coal);
  --g3-font__medium-weight: 500;
  --g3-font__semi-bold-weight: 600;
}

h1, h2, h3, h4,
body,
.caption,
.form-h1, .form-h2, .form-caption,
.introduction,
.body,
.special-number,
.form-body,
.form-special-number {
    font-family: 'Montserrat';
}

/* Buttons */

.data-dictionary__switch-button--active,
.popup__title {
  background-color: var(--secondary-color);
}

.g3-button--primary:hover,
.g3-dropdown-button__button--primary:hover,
.data-dictionary__switch-button:hover,
.button-primary-orange:hover {
  background-color: var(--primary-color)
}

.g3-button--default:active,
.g3-button--default:active svg path {
  border: 1px solid var(--secondary-color);
  color: 1px solid var(--secondary-color);
  fill: 1px solid var(--secondary-color);
}

/* Discovery page specs */
.discovery-header__stat-number {
  color: #99286B;
  font-size: 40px;
  line-height: 50px;
}

.discovery-search {
  border-color: rgb(139, 51, 105);
}

.discovery-modal__close-button {
  color: rgb(139, 51, 105);
}

.discovery-adv-filter-button {
  color: rgb(139, 51, 105);
}

.discovery-action-bar-button {
  color: rgb(139, 51, 105);
  border-color: rgb(139, 51, 105);
}

.discovery-action-bar-button:hover {
  color: #fff;
  border-color: #fff;
  background-color: var(--primary-color);
}

.discovery-header__dropdown-tags-control-button  {
  color: rgb(139, 51, 105);
  border-color: rgb(139, 51, 105);
}

.discovery-modal__attribute {
  background-color: #dfe3e2;
  border-radius: 4px;
}

.ant-table-thead {
  font-weight: 900;
}

.discovery-filters-control-button {
  color: rgb(139, 51, 105);
  border-color: rgb(139, 51, 105);
}

/* Nav Bars and Footer */

.top-bar,
.top-bar__header,
.top-icon-button.body-typo {
  background-color: var(--secondary-color);
}

.top-bar__link {
  border-right: 2px solid #fff;
}

.nav-button:hover,
.button-active {
  border-bottom: 3px solid var(--primary-color);
}

.nav-bar__logo {
  padding: 15px 0;
}

.nav-bar__logo-img {
  height: 50px;
}

.footer__version-area {
  display: none;
}

.footer {
  background-color: #373a3c;
}

.footer-container {
  align-items: center;
  background-color: #373a3c;
}

.footer__nav {
  align-items: center;
  background-color: #373a3c;
}

.footer__link-area {
  font-size: 0.625rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  margin: auto;
}

/* Data Explorer */

.filter-group__tab,
.g3-filter-group__tab {
  border-top: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
  border-left: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.tier-access-selector__radio-input:checked+.tier-access-selector__customized-radio-input::after {
  background-color: var(--primary-color);
}

.filter-group__tab--selected,
.g3-filter-group__tab--selected {
  background-color: var(--secondary-color);
  color: #fff;
}

.aggregation-card .bucket-item .bucket-count {
  color: var(--secondary-color);
}

.aggregation-card input[type='checkbox']:checked {
  background: var(--secondary-color);
}

.g3-single-select-filter__checkbox:checked {
  background: var(--primary-color);
}

.input-range__track--active,
.rc-slider-track,
.g3-single-select-filter__count .g3-icon--under {
  background-color: var(--secondary-color);
}


/* .input-range__track--active,
.rc-slider-track,
.g3-single-select-filter__count .g3-icon--under {
  background-color: var(--primary-color);
} */

/* Charts */

tspan.special-number,
.special-number,
.form-special-number,
.g3-single-select-filter__count {
  color: var(--primary-color);
}

.special-number {
  fill: var(--primary-color);
}

.data-explorer__charts tspan.special-number,
.data-explorer__charts .special-number,
.data-explorer__charts .form-special-number {
  color: var(--secondary-color);
}

.data-explorer__charts .special-number {
  fill: var(--secondary-color);
}

/* Index Changes inherited from MIDRC */

.introduction__icon {
  display: none;
}

.index-button-bar {
  width: 100%;
  background-color: var(--g3-color__white);
}

.index-button-bar__thumbnail-button {
  background-color: inherit;
  border: none;
}

.index-button-bar__thumbnail-title {
  display: none;
}

@media screen and (max-width: 1170px) {
  .index-button-bar {
    padding: 0 10%;
  }
}
