.discovery-container {
    background-color: #f2f2f2;
    padding: 40px 80px;
}

.discovery-page-title {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #555;
    margin-bottom: 16px;
}

.discovery-header {
    border-radius: 10;
    background-color: #fff;
    margin-bottom: 36px;
    height: 191px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.discovery-header__stats-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.discovery-header__stat {
    text-align: center;
}

.discovery-header__stat-number {
    color: #169bd5;
    font-size: 40px;
    line-height: 50px;
}

.discovery-header__stat-label {
    font-size: 20px;
}

.discovery-header__tags-container {
    flex: 1 0 auto;
}

.discovery-header__tags-header {
    font-weight: normal;
    font-size: 18px;
    color: #555;
}

.discovery-header__tags {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.discovery-header__tag-group {
    display: flex;
    flex-direction: column;
}

.discovery-header__tag {
    margin-bottom: 4px;
    height: 30px;
    width: 154px;
    line-height: 30px;
    font-size: 24px;
    text-align: center;
    color: #333;
}

/* Table */
.discovery-table-container {
    border-radius: 10;
    background-color: #fff;
    padding: 20px;
}

.discovery-table__header {
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.discovery-table__search {
    border-radius: 5px;
    max-width: 500px;
}

.discovery-table__controls  {
    flex: 0 0 auto;
    justify-self: flex-end;
}

/* some light css hacks here to override antd default expanded row styles. */
.discovery-table__expanded-row > td.ant-table-cell {
    background-color: #fff;
    top: -15px;
    color: #7f7f7f;
}
