.data-dictionary-searcher {
  padding: 15px;
  border-top: 1px solid var(--g3-color__silver);
}

.dictionary-searcher__result {
  margin: 10px 0;
}

.dictionary-searcher__result-text {
  display: inline;
}

.dictionary-searcher__result-item {
  margin-bottom: 8px;
}

.dictionary-searcher__result-count {
  color: var(--pcdc-color__primary);
}

.dictionary-searcher__result-clear {
  color: var(--pcdc-color__primary);
  cursor: pointer;
  float: right;
}

.dictionary-searcher__result-clear:hover {
  color: var(--pcdc-color__primary-light);
}

/* Tablet width and less */
@media screen and (max-width: 820px) {
  .data-dictionary-searcher {
    display: none;
  }
}
