.chart-carousel__container {
  width: 550px;
  padding: 10px 30px 30px 30px; // space for arrows and dots
  margin-left: 10px;
  margin-bottom: 10px;
}

.chart-carousel__container-border {
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.chart-carousel__popup-chart {
  height: 50vh;
}

.chart-carousel__left-column {
  float: left;
}

.chart-carousel__description {
  text-align: justify;
  overflow-y: auto;
  height: 60vh;
  padding: 0 10px 0 20px;
}

.chart-carousel__image {
  max-width: 100%;
  max-height: 350px;
  margin: auto;
}

.chart-carousel__hover {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  max-width: 500px;
  padding: 10px;
  white-space: pre-wrap;
  z-index: 10; // place it over the "mapbox" link...
}
