.GWASUI-searchContainer {
    border: 1px solid #e9e9ea;
    border-radius: 25px;
    margin-bottom: 10px;
	padding: 3px 3px 4px 10px;
	height: 40px;
}
.GWASUI-searchContainer svg {
    color: #9d9d9d;
}
.GWASUI-searchContainer input {
    font-style: normal;
}
.GWASUI-newCohort button {
    margin: 0 0 12px auto;
    background-color: #2e77b8;
    color: white;
    border: none;
}
.GWASUI-mainTable {
    border: none;
}
.GWASUI-newCohort button:hover {
    background-color: var(--g3-secondary-btn__bg-color--hover)
}
.GWASUI-table1 tr:nth-child(even) {
    background-color: #fafafb;
}
.GWASUI-table1 thead th {
    background-color: #e9eef2;
}

.GWASUI-table1 .ant-table-container {
    border-top-left-radius: none;
    border-top-right-radius: none;
    border-radius: 5px;
    border: 2px solid #dedede;
}

.cohort-table-search {
    padding: 0 10px;
}
.GWASUI-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .GWASUI-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
