.protected-content {
  width: 1220px;
  margin: auto;
  min-height: ~"calc(100vh - 221px)"; /* 40px topbar, 81px navbar, 100px footer */ 
  background-color: var(--g3-color__bg-cloud);
}

.protected-content--dd-page {
  width: 100%;
  height: calc(~"100vh - 121px");
  overflow: hidden;
}