.data-requests {
  margin: 20px;
}

.data-requests__header {
  margin-bottom: 20px;
}

.data-requests__header > h1 {
  font-size: 24px;
  letter-spacing: 0.02rem;
  line-height: 80px;
  color: inherit;
}

.data-requests__status-approved,
.data-requests__status-data-available {
  color: var(--pcdc-color__primary);
}

.data-requests--create-pending,
.data-request-admin__actions-container--action-pending {
  opacity: 0.5;
}

.create-pending-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.data-requests__status-rejected {
  color: var(--g3-color__rose);
}

.data-requests__table-header {
  display: flex;
  align-items: center;
}

.data-requests__table-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.data-requests__table-actions > :not(:last-child) {
  margin-right: 10px;
}

.data-requests__more-actions-container {
  display: flex;
  flex-direction: column;
}

.data-requests__checkbox {
  display: flex;
  align-items: center;
}

.data-requests__checkbox input {
  margin-right: 5px;
}

.data-requests__error {
  text-align: center;
}

.data-requests__error > h2 {
  display: block !important;
}

.data-requests .download-button {
  min-width: 240px;
}

.data-requests .download-button__error-message {
  color: red;
  font-size: 0.8rem;
  font-style: italic;
}

.data-request__table-view-options-trigger {
  font-size: 14px;
  width: 50px;
  height: 30px;
  display: inline-flex;
  vertical-align: middle;
  background: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  border: none;
}

.data-request__table-row-options-trigger {
  font-size: 14px;
  width: 25px;
  height: 15px;
  display: inline-flex;
  vertical-align: middle;
  background: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  border: none;
}

.data-request__table-row-options-trigger-icon {
  width: 100%;
  height: 15px;
  background-color: black;
  mask-size: 100% 100%;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-image: svg-load('../img/icons/more.svg');
  mask-position: center;
  transform: rotate(90deg);
}

.data-request__table-view-options-trigger-icon {
  width: 100%;
  height: 30px;
  background-color: black;
  mask-size: 100% 100%;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-image: svg-load('../img/icons/more.svg');
  mask-position: center;
  transform: rotate(90deg);
}

.data-request__request-error {
  color: red;
}

.data-request__header h2 {
  color: var(--g3-color__gray);
}

.data-request__form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.data-request__fields {
  width: 60%;
}

.data-request__submit {
  margin-top: 30px;
}

.data-request__value-container {
  position: relative;
  left: -10%;
}

.data-request__multi-value-row {
  display: flex;
  align-items: center;
  min-height: 40px;
  margin-bottom: 15px;
}

.data-request__multi-value-row:last-of-type {
  margin-bottom: 0;
}

.data-request__multi-value-values-row {
  display: flex;
  flex-flow: wrap;
  min-width: 400px;
  max-height: 75px;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: var(--g3-color__gray);
  font-family: inherit;
  font-size: inherit;
  outline-color: var(--pcdc-color__primary);
  padding: 0 5px;
  overflow-x: scroll;
  overflow-y: scroll;
  background-color: lightgray;
}

.data-request-admin__action-list {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.data-request-admin__actions-container {
  height: 350px;
}

.data-request-admin__action-success {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-request-admin__action-list li button {
  width: 250px;
}