.data-requests {
  margin: 20px;
}

.data-requests__header {
  margin-bottom: 20px;
}

.data-requests__header > h1 {
  font-size: 24px;
  letter-spacing: 0.02rem;
  line-height: 80px;
  color: inherit;
}

.data-requests__status-approved,
.data-requests__status-data-available {
  color: var(--pcdc-color__primary);
}

.data-requests__status-rejected {
  color: var(--g3-color__rose);
}

.data-requests__table-header {
  display: flex;
  align-items: center;
}

.data-requests__table-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.data-requests__table-actions > :not(:last-child) {
  margin-right: 10px;
}

.data-requests__more-actions-container {
  display: flex;
  flex-direction: column;
}

.data-requests__checkbox {
  display: flex;
  align-items: center;
}

.data-requests__checkbox label {
  margin-right: 5px;
}

.data-requests__error {
  text-align: center;
}

.data-requests__error > h2 {
  display: block !important;
}

.data-requests .download-button {
  min-width: 240px;
}

.data-requests .download-button__error-message {
  color: red;
  font-size: 0.8rem;
  font-style: italic;
}

.data-request__table-view-options-trigger {
  font-size: 14px;
  width: 50px;
  height: 30px;
  display: inline-flex;
  vertical-align: middle;
  background: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  border: none;
}

.data-request__table-view-options-trigger-icon {
  width: 100%;
  height: 30px;
  background-color: black;
  mask-size: 100% 100%;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-image: svg-load('../img/icons/more.svg');
  mask-position: center;
  transform: rotate(90deg);
}
