@import "../../../css/base.css";
@import "../../../css/icon.css";

.g3-single-select-filter {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.g3-single-select-filter__checkbox {
  margin: 0 14px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: var(--g3-color__white);
  height: 18px;
  min-width: 18px;
  border: 1px solid var(--g3-color__lightgray);
  border-radius: 2px;
}

.g3-single-select-filter__checkbox:checked {
  background: var(--g3-color__highlight-orange);
}

.g3-single-select-filter__checkbox:disabled {
  background: var(--g3-color__smoke);
  cursor: not-allowed;
}

.g3-single-select-filter__checkbox:after {
  content: '';
  position: relative;
  left: 40%;
  top: 20%;
  width: 15%;
  height: 40%;
  border: solid var(--g3-color__white);
  border-width: 0 2px 2px 0;
  box-sizing: initial;
  transform: rotate(45deg);
  display: none;
}

.g3-single-select-filter__checkbox:checked:after {
  display: block;
}

.g3-single-select-filter__label {
  margin: 0;
  flex-grow: 1;
  cursor: pointer;
  outline: none;
}

.g3-single-select-filter__label--disabled {
  cursor: not-allowed;
}

.g3-single-select-filter__tooltip-icon {
  color: var(--g3-color__gray);
}

.g3-single-select-filter__count, .g3-single-select-filter__icon-background {
  cursor: default;
}
