:root {
  --dashboard__sidebar-width: 320px;
}

.dashboard {
  display: flex;
  height: calc(100vh - 121px);
}

.dashboard__main {
  height: 100%;
  width: calc(100vw - var(--dashboard__sidebar-width));
  overflow-y: scroll;
}

.dashboard__sidebar {
  background-color: var(--g3-color__white);
  border-right: 1px solid var(--g3-color__smoke);
  height: 100%;
  width: var(--dashboard__sidebar-width);
  overflow-y: scroll;
}

/* Medium screen and less */
@media screen and (max-width: 1090px) {
  .dashboard {
    flex-wrap: wrap;
    height: 100vh;
  }

  .dashboard__main {
    width: 100%;
  }

  .dashboard__sidebar {
    height: auto;
    width: 100%;
  }
}
